                    <div class="block-header">
                        <!-- <h2>Dashboard</h2> -->

                        <ul class="actions" style="font-size:12px;">

                            <li>
                                <a style="width:100%"  ng-if="cds == ''" href="#!main" class="p-l-10">
                                    HOME
                                </a>
                                <a style="width:100%" ng-if="cds !== ''" href="#/dashboard" class="p-l-10">
                                    HOME
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:25px;">
                                        <h2>
                                            <small><h1>Virtual Cash : <span style="color:#77f977" ng-controller="dashboardCtrl" >${{v_cash_balance}}</span> <h1></small> 
                                            <small><h1>Actual Cash : <span style="color:#77f977" ng-controller="dashboardCtrl" >${{cash_balance}}</span> <h1></small> 
                                            <small><h1>My Portfolio : <span style="color:#f10ae8" ng-controller="dashboardCtrl" >${{portfolio_balance}}</span> <h1></small> 
                                            <small><h1>Total Account : <span style="color:#82b4f5" ng-controller="dashboardCtrl" >${{total_balance}}</span> <h1></small> 
                                            <small><h1>Net Performance (Day): <span style="color:green" ng-controller="dashboardCtrl" >${{pl_balance}}</span> <h1></small> 

                                        </h2>
                                    </div>                                   

                                </div>


                            </div>

                            <div class="col-md-8 col-sm-6">

                                <div class="card">
                                    <div class="card-header">
                                        <h2>Primary Market  Information  
                                            <small><button class="btn btn-primary buy" style="margin-right:10px;"  ng-controller="dashboardCtrl" ng-click="openOrderDiagBUYIPO()">BUY</button> </small>
                                        </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map" ng-controller="dashboardCtrl">
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Category  </th>
                                                        <th>Issuer Code </th>
                                                        <th>Issuer  </th>
                                                        <th>Debt Type </th>
                                                        <th>Security Description  </th>
                                                        <th>IPO STATUS  </th>
                                                        <th>Global Limit </th>
                                                        <th>Individual Limit </th>
                                                        <th>Bid Ratio </th>
                                                        <th>First Limit </th>
                                                        <th>globLower limit  </th>
                                                        <th>Interest Rate </th>
                                                        <th>IPO Closed Date  </th>
                                                        <th>Transaction Limit  </th>
                                                        <th>Prospectus</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderr in ipo" >

                                                        <td>{{orderr.Category}}</td>
                                                        <td>{{orderr.Issuer_Code}}</td>
                                                        <td>{{orderr.Issuer}}</td>
                                                        <td>{{orderr.Debt_Type}}</td>
                                                        <td>{{orderr.Security_Description}}</td>
                                                        <td>{{orderr.IPOSTATUS}}</td>
                                                        <td>{{orderr.GlobalLimit}}</td>
                                                        <td>{{orderr.IndividualLimit}}</td>
                                                        <td>{{orderr.BidRatio}}</td>
                                                        <td>{{orderr.FirstLimit}}</td>
                                                        <td>{{orderr.globLowerlimit}}</td>
                                                        <td>{{orderr.InterestRate}}</td>
                                                        <td>{{orderr.IPOClosedDate}}</td>
                                                        <td>{{orderr.Transaction_Limit}}</td>

                                                        <td><a href="docs/UNTUProspectus.pdf" target ="_blank" >Download</button> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Recent IPO Orders </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map" ng-controller="dashboardCtrl">
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Issuer</th>
                                                        <th>Type</th>
                                                        <th style ="text-align:center;">Volume</th>
                                                        <th>Price</th>
                                                        <th>Value</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Channel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderr in my_ipo_orders" >
                                                        <td>{{$index+1}}</td>
                                                        <td>{{orderr.counter}}</td>
                                                        <td>{{orderr.type}}</td>
                                                        <td style ="text-align:center;">
                                                            <span ng-if="orderr.type.indexOf('SELL') !== -1" class ="our-red-color">{{orderr.volume}}</span>
                                                            <span ng-if="orderr.type.indexOf('BUY') !== -1" class ="our-green-color">{{orderr.volume}}</span>
                                                        </td>
                                                        <td>
                                                            {{orderr.price}}
                                                        </td>                                                        
                                                        <td>{{total(orderr.price , orderr.volume)}}</td>
                                                        <td>{{orderr.date}}</td>
                                                        <td>{{orderr.status}}</td>
                                                        <td>{{orderr.desc}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

        <script type="text/ng-template" id="placeOrderDiagBUYIPO" style="background-color:green;">
            <form ng-controller="OrderIPOCtrl">
                <div class="ngdialog-message">
                    <h2>IPO BUY Order</h2>
                    <div>
                        <div id ="addr_yangu"> Select Issuer </div>
                        <select name ="company" ng-model="company"   class='mytextEditor'>
                            <option value ="TESTCOMP.IPO"> TESTCOMP.IPO </option>
                        </select>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Quantity </div>
                        <input type="text" ng-model="quantity" name ="quantity" class='mytextEditor'/>
                    </div>


                    <input type="hidden" ng-model="price" name ="price" value = "1.00" />
                    <input type="hidden" ng-model="brokerz" name ="brokerz" value = "AKRI" />
                    <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY"/>
                    <input type="hidden" name ="security" ng-model="security"   value = "BOND"/>


                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Place Order ► </button>
                </div>

                <pre  style="display:none;" >Order Details={{list}}</pre>
            <form>
            

        </script>  