                <div class="container">
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-4 col-sm-6" >
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:25px;" ng-controller="tempdataCtrl">
                                       <h6>
                                          <table class="table  table-hover table-bordered table-striped">
                                             <tbody>
                                                <tr>
                                                   <td style="text-align: left;">Uncleared Cash : </td>
                                                   <td style="color:#77f977;text-align: right;" >{{initbalance  | currency:"$":4}}</td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: left;">Cleared Cash :  </td>
                                                   <td style="color:#77f977;text-align: right;" >{{initbalance | currency:"$":4}}</td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: left;">Cash Available:  </td>
                                                   <td style="color:#77f977;text-align: right;" >{{initbalance | currency:"$":4}}</td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: left;">My Portfolio :  </td>
                                                   <td style="color:#f10ae8;text-align: right;" >{{initbalance  | currency:"$":4}}</td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: left;">Total Account : </td>
                                                   <td style="color:#82b4f5;text-align: right;" >{{initbalance | currency:"$":4}}</td>
                                                </tr>
                                                <tr>
                                                   <td style="text-align: left;">Portfolio Gain / Loss (Day): </td>
                                                   <td style="color:green;text-align: right;" >{{initbalance | currency:"$":4}}</td>
                                                </tr>
                                             </tbody>
                                          </table>
                                          <small class ="pull-right" ng-controller="signindialogCtrl" >
                                            <span ng-init="loginINIT()" ng-controller="logindialogCtrl" >&nbsp;</span>
                                          <a style="margin:10px;" class="btn btn-primary deposit"  ng-click="openDiagNew()">Deposit</a> 
                                          <button class="btn btn-primary widthdraw" ng-click="openDiag()" style="margin:10px;">Withdraw</button> 
                                          </small> 
                                       </h6>                                        

                                    </div>
                                    <div class="card-body">
                                        <div class="pmo-map">
                                            <h1>Cash Transactions</h1>
                                            <br>
                                            <table class="table  table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Type</th>
                                                        <th>Amount</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="5">
                                                            <a ng-controller="signindialogCtrl" ng-click="openDiag()" > [ Please login first ] </a> 
                                                        </td>
                                                    </tr>                                                            
                                                </tbody>
                                            </table>
                                            <br>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="card-header">

                                            <div class="user show">
                                                        <div class="row">
                                                             <button class="col-md-4 btn btn-link blink_text" style="color: #22f92c;font-size: 20px; font-family: 'Times New Roman', Times, serif;"><blink ng-cloak><b>Trade Now</b></blink></button>
                                                            <button class="col-md-3 btn btn-primary sell"   ng-controller="signindialogCtrl" ng-click="openDiag()">SELL ORDER</button>
                                                            <button class="col-md-3 m-l-5 btn btn-primary buy"   ng-controller="signindialogCtrl" ng-click="openDiag()">BUY ORDER</button>
															
                                                        </div>                                                  

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:2px;">
                                        <h2>My Profile 
                                         
                                        </h2>
                                    </div>
                                    <div class="card-header">
                                        <h2>
                                            <div class = "row">
                                                    <a class ="col-md-2 m-l-2 cd-signup btn btn-primary" style="font-size:7pt;width:130px"  href="#" onclick="event.preventDefault();"  ng-controller="signindialogCtrl" ng-click="openDiag()">Login</a>
                                                    <a class ="col-md-2 m-l-2 cd-signup btn btn-primary" style="font-size:7pt;margin-left:3%;width:130px"  href="online.ctrade_php/sign_up.php">Create Account</a>
                                                    <a class ="col-md-2 m-l-2 cd-signup btn btn-primary" style="font-size:7pt;margin-left:3%;width:130px"   ng-controller="signindialogCtrl" ng-click="openDiagForget()">Forgot Password</a>
													<a class ="col-md-2 m-l-2 cd-signup btn btn-primary" style="font-size:7pt;margin-left:3%;width:130px"   ng-controller="signindialogCtrl" ng-click="preDiag()">Pre-Created Account</a>
                                            </div>
                                            <small class='pull_right'>
                                                <a href="docs/terms.pdf" target="_blank">Terms and Conditions</a>
                                            </small>
                                        </h2>
                                    </div>


                                </div>
                            </div>


                            <div class="col-md-8 col-sm-6">

                                <div class="card">
                                        <div ng-tabs class="tabbable">
                                            <ul class="nav nav-tabs tab-nav-right">
                                                <li  class="pull-left"  role="presentation"><h4>Market Watch</h4></li>
                                                <li  class="pull-left"  role="presentation" style="width: 66%;">
                                                    <div class='ticker' ng-controller="marketCapCtrl">
                                                        <ul class="nav nav-tabs tab-nav-right" style = "width:140%;overflow:hidden;position:absolute;">

                                                            <li class = 'cnbca_'style="color: #ff8000;">
                                                              ----{{boxes[0].exchange}}   
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -MARKET CAP: {{boxes[0].market_cap}}
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -TURNOVER: {{boxes[0].turnover}}
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -TRADED :  {{boxes[0].trades}}
                                                            </li>
                                                            <li class = 'cnbca_'style="color: #ff8000;">
                                                              ----{{boxes[1].exchange}}   
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -MARKET CAP: {{boxes[1].market_cap}}
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -TURNOVER: {{boxes[1].turnover}}
                                                            </li>
                                                             <li class = 'cnbca_'style="color: #ff8000;">
                                                                -TRADED :  {{boxes[1].trades}}
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </li>
                                                <li ng-tab-head class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">Market Sells</a>
                                                </li>
                                                <li ng-tab-head class="pull-right" style="background: #000;" >
                                                    <a href="#" ng-click="$event.preventDefault()">Market Buys</a>
                                                </li>
                                                <li class="pull-right" style="background: #000;" ng-tab-head="on">
                                                    <a href="#" ng-click="$event.preventDefault()">Equities Board</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" ng-controller="notLoggedCtrl">
                                                <div ng-tab-body class="tab-pane">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Sell Orders in the market </h5>
                                                        </div>

                                                        <div class="card-body table-responsive">
                                                            <div class="pmo-map row" style ="margin: 0px 1px 0px 0px;">
                                                                    <div class="col-md-12">
                                                                        
                                                                        <table class="table  table-hover table-bordered table-striped table-expandable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;">Company</th>
                                                                                    <th style="text-align:left;">ISIN</th>
                                                                                    <th>Ask Volume</th>
                                                                                    <th>Best Ask</th>
                                                                                    <th>Current Price</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="mkt in marketwatchzsebuys  | orderBy:predicatemezb:reversemez | filter:paginatemezbuys| filter:searchmez" >
                                                                                    <td style="text-align:left;color:#b2c831;">{{mkt.FullCompanyName}}({{mkt.Ticker}})</td>
                                                                                    <td style="text-align:left;">{{mkt.ISIN}}</td>
                                                                                    <td style="text-align:right;color:#ff4081;">{{mkt.Ask_Volume}}</td>
                                                                                    <td style="text-align:right;color:#ff4081;">{{mkt.Best_Ask}}</td>
                                                                                    <td style="text-align:right;">{{mkt.Current_price}}</td>
                                                                                    <td><a   ng-controller="signindialogCtrl" ng-click="openDiag()">[BUY SHARES]</a></td>
                                                                                </tr> 
                                                                                 <tr>
                                                                                    <td colspan="7" style ="text-align:center;">                                           
                                                                                        <pagination total-items="totalItemsmezb" ng-model="currentPagemezb"  
                                                                                             max-size="6" boundary-links="true"  
                                                                                             items-per-page="numPerPagemezb" class="pagination-sm">  
                                                                                       </pagination>  
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                
                                                            </div>                                                                
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-tab-body class="tab-pane">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Buys Orders in the market </h5>
                                                        </div>

                                                        <div class="card-body table-responsive">
                                                            
                                                            <div class="pmo-map row" style ="margin: 0px 1px 0px 0px;"> 
                                                                    <div class="col-md-12">
                                                                        <table class="table  table-hover table-bordered table-striped table-expandable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;">Company</th>
                                                                                    <th style="text-align:left;">ISIN</th>
                                                                                    <th>Bid Volume</th>
                                                                                    <th>Best Bid</th>
                                                                                    <th>Current Price</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="mkt in marketwatchzsesells  | orderBy:predicatemezs:reversemez | filter:paginatemezsells| filter:searchmez">
                                                                                    <td style="text-align:left;color:#b2c831;">{{mkt.FullCompanyName}}({{mkt.Ticker}})</td>
                                                                                    <td style="text-align:left;">{{mkt.ISIN}}</td>
                                                                                    <td style="text-align:right;color:#0000EE;">{{mkt.Bid_Volume}}</td>
                                                                                    <td style="text-align:right;color:#0000EE;">{{mkt.Best_bid}}</td>
                                                                                    <td style="text-align:right;">{{mkt.Current_price}}</td>
                                                                                    <td><a   ng-controller="signindialogCtrl" ng-click="openDiag()">[SELL SHARES]</a></td>
                                                                                </tr> 
                                                                                 <tr>
                                                                                    <td colspan="7" style ="text-align:center;">                                           
                                                                                        <pagination total-items="totalItemsmezs" ng-model="currentPagemezs"  
                                                                                             max-size="6" boundary-links="true"  
                                                                                             items-per-page="numPerPagemezs" class="pagination-sm">  
                                                                                       </pagination>  
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>                                                
                                                <div ng-tab-body class="tab-pane">

                                                    <div class="card">
                                                        <div class="card-body table-responsive">
                                                            <h1 style="border-bottom: 1px #c1c1c1 solid;">EQUITIES</h1>
                                                            <div class="pmo-map row" style ="margin: 0px 1px 0px 0px;">
                                                                    <div class="col-md-6"  style="border-right: 1px #c1c1c1 solid;">
                                                                        <div><h1>{{graph_company_ZSE}}</h1>
                                                                            <a class= 'btn btn-link pull-right' href="#" onclick="event.preventDefault();" >View More Graphs</a>
                                                                        </div>

                                                                        <nvd3 style="fill: #e4b447;stroke:#9c27b0"  options="options", data="data_zse", api="rc.api" config="{refreshDataOnly: true}" />
                                                                    </div>

                                                                    <div class="col-md-6" >
                                                                        <h1>ZSE</h1>
                                                                        <table class="table  table-hover table-bordered table-striped table-expandable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;">Company</th>
                                                                                    <th>ISIN</th>
                                                                                    <th>Ask Volume</th>
                                                                                    <th>Best Ask</th>
                                                                                    <th>Bid Volume</th>
                                                                                    <th>Best Bid</th>
                                                                                    <th>Current Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="mkt in marketwatchzse  | orderBy:predicatemez:reversemez | filter:paginatemez| filter:searchmez" >
                                                                                    <td style="text-align:left;"><a  href="#" onclick="event.preventDefault();" ng-click="tableRowClicked(mkt.Ticker,mkt.FullCompanyName)">{{mkt.Ticker}}</a></td>
                                                                                    <td style="text-align:right;">{{mkt.ISIN}}</td>
                                                                                    <td style="text-align:right;color:#ff4081;">{{mkt.Ask_Volume}}</td>
                                                                                    <td style="text-align:right;color:#ff4081;">{{mkt.Best_Ask}}</td>
                                                                                    <td style="text-align:right;color:#0000EE;">{{mkt.Bid_Volume}}</td>
                                                                                    <td style="text-align:right;color:#0000EE;">{{mkt.Best_bid}}</td>
                                                                                    <td style="text-align:right;">{{mkt.Current_price}}</td>
                                                                                </tr> 
                                                                                 <tr>
                                                                                    <td colspan="7" style ="text-align:center;">                                           
                                                                                        <pagination total-items="totalItemsmez" ng-model="currentPagemez"  
                                                                                             max-size="5" boundary-links="true"  
                                                                                             items-per-page="numPerPagemez" class="pagination-sm">  
                                                                                       </pagination>  
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>


                                                                        <h1>FINSEC</h1>
                                                                        <table class="table table-hover  table-sticky-header table-expandable table-bordered table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="text-align:left;width:10px;">Company</th>
                                                                                    <th>Bid</th>
                                                                                    <th>Ask</th>                                 
                                                                                    <th>Price(VWA)</th>
                                                                                    <th>Last Price</th>
                                                                                    <th>Last Volume</th>
                                                                                    <th>Turnover</th>
                                                                                    <th>Change</th>
                                                                                    <th>Change(%)</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                          <tr ng-repeat-start="countr in marketwatch  | orderBy:predicateme:reverseme | filter:paginateme| filter:searchme" >
                                                                                            <td style="text-align:left;"><a href='javascript:void();' ng-click="tableRowClicked(countr.market_company)">{{countr.market_company}}</a>
                                                                                                <span ng-if="countr.market_change < 0" class ="red_arrow"></span>
                                                                                                <span ng-if="countr.market_change > 0 " class ="green_arrow"></span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color"></span>
                                                                                            </td>
                                                                                            <td>{{countr.market_bbv}}</td>
                                                                                            <td>{{countr.market_va}}</td>
                                                                                            <td>{{countr.market_vwap}}</td>
                                                                                            <td>{{countr.market_lp}}</td>
                                                                                            <td>{{countr.market_lv}}</td>
                                                                                            <td>{{countr.market_to}}</td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_change < 0" class ="our-red-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change > 0" class ="our-green-color">{{countr.market_change}}</span>
                                                                                                <span ng-if="countr.market_change == 0" class ="our-white-color">{{countr.market_change}}</span>
                                                                                            </td>
                                                                                            <td>
                                                                                                <span ng-if="countr.market_per_change < 0" class ="our-red-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change > 0" class ="our-green-color">{{countr.market_per_change}}</span>
                                                                                                <span ng-if="countr.market_per_change == 0" class ="our-white-color">{{countr.market_per_change}}</span>
                                                                                            </td>
                                                                                            <td style="cursor: pointer;">
                                                                                              <div class="table-expandable-arrow up" ng-if="countr.expanded" ng-click="countr.expanded = false"></div>
                                                                                              <div class="table-expandable-arrow" ng-if="!countr.expanded" ng-click="countr.expanded = true"></div>
                                                                                            </td>                                                            
                                                                                          </tr>

                                                                                          <tr ng-if="countr.expanded" ng-repeat-end="">
                                                                                            <td colspan="15">
                                                                                                <div class ="row">
                                                                                                    <div class="col-md-12 col-sm-12">
                                                                                                        <h4 style="text-align:left;">{{countr.market_company}}</h4>
                                                                                                        <div class="pull-right">
                                                                                                            <button class="btn btn-primary buy" style="margin-right:10px;"  ng-controller="signindialogCtrl" ng-click="openDiag()" >BUY</button> 
                                                                                                            <button class="btn btn-primary sell"  ng-controller="signindialogCtrl" ng-click="openDiag()" >SELL</button>                                                        
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">
                                                                                                        <h4>BEST BID</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="bid in countr.bids" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{bid.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{bid.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-6">                                                 
                                                                                                        <h4>BEST ASK</h4>
                                                                                                            <table class="table table-inner table-vmiddle">
                                                                                                                <thead>
                                                                                                                    <tr>
                                                                                                                        <th style="text-align: left;">COMPANY</th>
                                                                                                                        <th>Quantity</th>
                                                                                                                        <th style="width: 60px">Price</th>
                                                                                                                    </tr>
                                                                                                                </thead>
                                                                                                                <tbody>
                                                                                                                    <tr ng-repeat="ask in countr.asks" >
                                                                                                                        <td style="text-align: left;" class="f-500 c-cyan">{{countr.market_company}}</td>
                                                                                                                        <td>{{ask.volume}}</td>
                                                                                                                        <td class="f-500 c-cyan">{{ask.price}}</td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>   
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                          </tr>   


                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                
                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>                                                
                                            </div>
                                        </div>
                                </div> 

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Recent Orders </h2>
                                    </div>

                                    <div class="card-body table-responsive">
                                        <div class="pmo-map">
                                            <table class="table  table-hover table-bordered table-striped ">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Counter</th>
                                                        <th>Type</th>
                                                        <th>Volume</th>
                                                        <th>Price</th>
                                                        <th>Value</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Channel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="9">
                                                            <a  ng-controller="signindialogCtrl" href="#" onclick="event.preventDefault();" ng-click="openDiag()" >[ Please login first ]</a> 
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h2>My Portfolio</h2>
                                    </div>

                                    <div class="card-body table-responsive">

                                        <div class="pmo-map">
                                            <table class="table  table-hover table-bordered table-striped table-expandable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Counter </th>
                                                        <th>No. Shares</th>
                                                        <th>Last Activity date</th>
                                                        <th>Current price per share</th>
                                                        <th>Total portfoil value</th>
                                                        <th>Returns</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:center;"  colspan="7">
                                                           <a  ng-controller="signindialogCtrl" href="#" onclick="event.preventDefault();" ng-click="openDiag()">[ Please login first ]</a> 
                                                        </td>
                                                    </tr>  

                                                </tbody>
                                            </table>
                        
                                        </div>

                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>


        <script type="text/ng-template" id="firstDialog">
            <form ng-submit="doLogin()" ng-controller="LoginCtrl">
                <div class="ngdialog-message">
                    <h2>Login</h2>
                    <p><span id ="cds_email_atp">{{cds_email}}</span></p>
                    <div>
                        <div id ="addr_yangu"> Enter email address or CDS/ATP number </div> <br>
                        <input type="{{inputType}}" ng-model="any" name ="any" class='mytextEditor' autocomplete="off"/>
                        
                    </div>
                    <div>
                    <a class ="cd-signup"  href="online.ctrade_php/sign_up.php">Create Account</a>
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="submit" ng-if="cds_email == '' "  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        {{ searchButtonText }}
                    
                    </button>
                    <button type="submit" ng-if="cds_email !== '' "  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        {{ searchButtonText }}
                    
                    </button>
                </div>
                <pre style="display:none;">CDS/ATP/EMAIL={{list}}</pre>
            <form>
        </script> 
  <script type="text/ng-template" id="preDialog">
            <form ng-submit="preLogin()" ng-controller="LoginCtrl">
                <div class="ngdialog-message">
                    <h3>Pre-Created Account Registration</h2>
                    <div>
                        <div id ="addr_yangu"> Enter Share Holder Number or CDS/ATP number </div> <br>
                        <input type="{{inputType}}" ng-model="shareholder" name ="shareholder" class='mytextEditor' autocomplete="off"/>
                        
                    </div>
                    <div>
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="submit" class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText == 'Searching'"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        {{ searchButtonText }}
                    
                    </button>
                  
                </div>
                <pre style="display:none;">CDS/ATP/EMAIL={{list}}</pre>
            <form>
        </script> 		

        <script type="text/ng-template" id="forgetPassDialog">
            <form ng-submit="doForgetPass()" ng-controller="LoginCtrl">
                <div class="ngdialog-message">
                    <h2>Forgot Password</h2>
                    <div>
                        <div id ="addr_yangu"> Enter email address</div> <br>
                        <input type="text" ng-model="my_email" name ="my_email" class='mytextEditor' autocomplete="off"/>
                    </div>
                    <div>
                    <a class ="cd-signup"  href="online.ctrade_php/sign_up.php">Create new account</a>
                    </div>
                </div>
                <div class="ngdialog-buttons mt">
                     <button type="submit" ng-if="cds_email !== '' "  class="ngdialog-button ngdialog-button-primary" >RESET PASSWORD ► </button>
                </div>
                <pre style="display:none;">CDS/ATP/EMAIL={{list}}</pre>
            <form>
        </script>        
