
                    <div class="dash-widgets">
                        <div class="row">
                          <style type="text/css">
                                h1:before, h1:after {
                                  content:'\00a0\00a0\00a0\00a0';
                                  text-decoration: line-through;
                                  margin: auto 0.5em;
                                }
                          </style>
                            <div class="col-md-12 col-sm-6" ng-controller="VerifyOTPCtrl">
                                     <div style="margin:0px auto;max-width:600px;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:20px;padding-top:30px;">
                                                    <div class="" style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:center;">
                                                       <!-- <a href="#" class="ks-logo" style="font-size: 18px; text-decoration: none; color: #3a529b; font-weight: bold;"><img src="img/Untitled-online.png" width="50%"></a> -->
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                     <div style="margin:0px auto;max-width:600px;background:#000;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#000;border: 1px solid #ffffff;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                       <table   role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                        <form name ="verify_pass"  ng-submit = "myFuncVerify()">
                                                                <input type = "hidden"  value="{{fullname}}" name ="email">
                                                          <tbody>
                                                             
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:5px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:30px;font-weight:bold;line-height:22px;text-align:center;">
                                                                     Log in as
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      
                                                                      <input ng-controller="tempdataCtrl"  ng-click="opencompanyLogin()" value="Company" type="submit" style="border: 2px solid #3a529b;border-radius:2px;color:#3a529b;padding:12px 30px;text-decoration:none;line-height:100%;background: #000;color: #ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:500;text-transform:none;margin:0px;"/>                                                                            
                                                                    </div>
                                                                 </td>
                                                                 <td><h1>OR</h1></td>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      
                                                                      <input ng-controller="tempdataCtrl" ng-click="individual_log()" value="Individual" type="submit" style="border: 2px solid #3a529b;border-radius:2px;color:#3a529b;padding:12px 30px;text-decoration:none;line-height:100%;background: #000;color: #ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:500;text-transform:none;margin:0px;"/>                                                                       
                                                                    </div>
                                                                 </td>                                                                 
                                                              </tr>

                                                          </tbody>
                                                        </form>
                                                       </table>
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                            </div>
                        </div>
                    </div>


   <script type="text/ng-template" id="placeOrderDiagselectCompany" >
      <form ng-controller="tempdataCtrl">
          <div class="ngdialog-message">
              <h2>Company Trade Account</h2>
              <div>
                  <div id ="addr_yangu"> Select company </div>
                  
                  <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.CompanyName for x in mycompanies_list"></select>
      
              </div>
      
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="selectCompanyTrade()"  class="ngdialog-button ngdialog-button-primary" >Select  company ► </button>
          </div>
      
      <form>
      
   </script>