
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-12 col-sm-6" ng-controller="VerifyOTPCtrl">
                                     <div style="margin:0px auto;max-width:600px;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:20px;padding-top:30px;">
                                                    <div class="" style="cursor:auto;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:center;">
                                                       <!-- <a href="#" class="ks-logo" style="font-size: 18px; text-decoration: none; color: #3a529b; font-weight: bold;"><img src="img/Untitled-online.png" width="50%"></a> -->
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                                     <div style="margin:0px auto;max-width:800px;background:#000;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#000;border: 1px solid #ffffff;" align="center" border="0">
                                           <tbody>
                                              <tr>
                                                 <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                                       <table   role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                        <form ng-controller="VerifyOTPCtrl" ng-submit = "SubmitProfile()">
                                                                <input type = "hidden"  value="{{fullname}}" name ="email">
                                                          <tbody>
                                                             
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:5px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:25px;font-weight:bold;text-align:center;">
                                                                       Please answer the following question for account security questions change of details 
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      1. What is your favorite book?
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                          <tr>
                                                                             <td align="center" valign="middle">
                                                                              <input type="text" style="border: 1px solid #fff;" name  = "qsn1" id = "qsn1" ng-model= "qsn1" class="form-control required">
                                             
                                                                             </td>

                                                                          </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      2. What is your mother’s maiden name? 
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                          <tr>
                                                                             <td align="center" valign="middle">
                                                                                  <input type="text" style="border: 1px solid #fff;" name  = "qsn2" id = "qsn2" ng-model= "qsn2" class="form-control required">
                                             
                                                                             </td>

                                                                          </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:20px;" align="center">
                                                                    <div class="" style="cursor:auto;color:#fff;font-family:Open Sans;font-size:18px;line-height:1.44;text-align:center;">
                                                                      <h1>3. What is the name of the road you grew up in?   </h1>
                                                                    </div>
                                                                 </td>
                                                              </tr>
                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                          <tr>
                                                                             <td align="center" valign="middle">
                                                                                <input type="text" style="border: 1px solid #fff;" name  = "qsn3" id = "qsn3" ng-model= "qsn3" class="form-control required">
                                             
                                                                             </td>

                                                                          </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>


                                                              <tr>
                                                                 <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="center">
                                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                                       <tbody>
                                                                             <tr>
                                                                                <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="left">
                                                                                   <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="left" border="0">
                                                                                      <tbody>
                                                                                         <tr>
																						
                                                                                            <td style="" align="center" valign="middle" bgcolor="#000">
                                                                                     <input  ng-click="SubmitProfile()"  value="Confirm" type="submit" style="border: 2px solid #3a529b;border-radius:2px;color:#3a529b;padding:12px 30px;text-decoration:none;line-height:100%;background: #000;color: #ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:14px;font-weight:500;text-transform:none;margin:0px;"/>    

                                                                                            </td>
                                                                                         </tr>
                                                                                      </tbody>
                                                                                   </table>
                                                                                </td>
                                                                             </tr>
																			  <tr>
                                                                                <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:30px;" align="left">
                                                                                   <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="left" border="0">
                                                                                      <tbody>
                                                                                         <tr>
																						 <td>
																						  <div class="" style="color:#858585;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:left;">
                                                                     
																						  <a  href="#!main" style="color:#ffffff" >Skip these questions</a> 
                                                                                             </div>																						
																						</td>
																						</tr>
																						    </tbody>
                                                                                   </table>
                                                                                </td>
                                                                             </tr>
                                                                       </tbody>
                                                                    </table>
                                                                 </td>
                                                              </tr>
                                                               

                                                               <tr>
                                                                  <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-bottom:10px;">
                                                                      <a class ="cd-signin" href="#!main" style="color:#ffffff" >Skip these questions</a> 
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td style="word-break:break-word;font-size:0px;padding:10px 25px;" align="left">
                                                                     <div class="" style="color:#858585;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:left;">
                                                                       <a class ="cd-signin" href="javascript:void(0);" ng-controller="tempdataCtrl" ng-click="logout()" > Logout  </a> 
                                                                     </div>
                                                                  </td>
                                                               </tr>


                                                          </tbody>
                                                        </form>
                                                       </table>
                                                    </div>
                                                 </td>
                                              </tr>
                                           </tbody>
                                        </table>
                                     </div>
                            </div>
                        </div>
                    </div>
