<div class="dash-widgets"  ng-controller="dashboardCtrl" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btns {
  background-color:transparent;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-left:1%;
  font-size: 20px;
  cursor: pointer;
 
}

/* Darker background on mouse-over */
.btns:hover {
  background-color: RoyalBlue;
}
</style>
<div class="row">
<a href="#!main"><button class="btns" style="color:#FFFFFF;font-size:8pt"><i class="fa fa-home"></i>Home</button>
   </a>
</div>
<div class="row">
      <div class="col-md-12 col-sm-6">
         <span class="him-label pull-right" ng-if="Login_Name == 'logged' "  data-ng-init="start()">{{paramValue}}</span>
      </div>
      <div class="col-md-4 col-sm-6">
         <div class="card" >
            <div class="card-header" style="padding-bottom:25px;" ng-controller="mybalanceViewCtrl">
                  
               <h6>
                   
                  <table class="table  table-hover table-bordered table-striped">
                     <thead>
                        <tr>
                           <th style="text-align: left;text-transform: none;">
                              <h1>My Account</h1>
                           </th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td style="text-align: left;">Uncleared Cash : </td>
                           <td style="color:#77f977;text-align: right;" >{{v_cash_balance  | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Cleared Cash :  </td>
                           <td style="color:#77f977;text-align: right;" >{{actualcash_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Cash Available:  </td>
                           <td style="color:#77f977;text-align: right;" >{{cash_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">My Previous Portfolio :  </td>
                           <td style="color:#f10ae8;text-align: right;" >{{prev_portfolio_balance  | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">My Current Portfolio :  </td>
                           <td style="color:#f10ae8;text-align: right;" >{{portfolio_balance  | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Total Account : </td>
                           <td style="color:#82b4f5;text-align: right;" >{{total_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Portfolio Gain / Loss (Day): </td>
                           <td style="color:green;text-align: right;" >{{pl_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Percentage Portfolio Gain / Loss (Day): </td>
                           <td style="color:green;text-align: right;" >{{per_netchange| number : 2}}%</td>
                        </tr>
						 <tr>
                           <td style="text-align: left;">Forex Wallet Balance: </td>
                           <td style="color:green;text-align: right;" >{{actualcash_balance_forex | currency:"USD":2}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <small class ="pull-right">
                  <a style="margin:10px;" class="btn btn-primary deposit" ng-click="placeOrderDiagDeposit()">Deposit</a> 
                  <button class="btn btn-primary widthdraw" ng-click="placeOrderDiagWidthdraw()" style="margin:10px;">Withdraw</button> 
<button class="btn btn-primary buy" ng-click="placeOrderDiagConvert()" style="margin:10px;">Convert</button> 

                  </small> 
               </h6>
            </div>
            <div class="card-body" ng-controller="cashtransactionlistsCtrl">
               <div class="pmo-map">
                  <h1>Cash Transactions</h1>
                  <br>
                  <table class="table  table-hover table-bordered table-striped">
                     <thead>
                        <tr>
                           <!-- <th>#</th> -->
                           <th style="text-align: left;">Type</th>
                           <th>Desc</th>
                           <th>Amount</th>
                           <th>Date</th>
                           <!-- <th>Status</th> -->
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="cash_countr in cash_transactions  | orderBy:predicate:reverse | filter:paginate" >
                           <!-- <td></td> -->
                           <td  style="text-align: left;">{{cash_countr.type}}</td>
                           <td>{{cash_countr.desc}}</td>
                           <td>
                              <span ng-if="cash_countr.ammount < 0" class ="our-red-color">{{cash_countr.ammount | currency:"ZWL":2}}</span>
                              <span ng-if="cash_countr.ammount > 0" class ="our-green-color">{{cash_countr.ammount | currency:"ZWL":2}}</span>
                           </td>
                           <td>{{cash_countr.date}}</td>
                           <!-- <td>{{cash_countr.status}}</td> -->
                        </tr>
                        <tr>
                           <td colspan="4"  style ="text-align:center;">
                              <pagination total-items="totalItems" ng-model="currentPage"  
                                 max-size="5" boundary-links="true"  
                                 items-per-page="numPerPage" class="pagination-sm">  
                              </pagination>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <br>
                  <!-- <a class ="pull-right" href ="#">View Statement</a> -->
               </div>
            </div>
           
            </div>
           
         </div>
		 <div class="col-md-8 col-sm-6" ng-controller="investmentCtrl">
         <div class="card" >
            <div class="card-header" style="padding-bottom:25px;">
                  
                <div class="card-header">
                           <h5>INVESTMENT CLUBS</h5>
						   <h6><button ng-click="toggle()" class="btn btn-primary"><i class="fa fa-user"></i>ADD INVESTMENT CLUB</button>
 


 </h6>
                        </div>
                      <div class="card-body table-responsive">
                           <div class="pmo-map">
                              <table class="table  table-hover table-bordered table-striped">
                                 <thead>
                                    <tr>
									   <th style="text-align:left;">#</th>
                                       <th style="text-align:left;">#</th>
                                       <th style="text-align:left;">No. of Members</th>
                                       <th style="text-align:left;">Club Name</th>
                                       <th style="text-align:left;">Club Phone</th>
                                      <th style="text-align:left;">Date Added</th>
									      <th style="text-align:left;">#</th>
										      <th style="text-align:left;">#</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="clubs in clublist" >
									<td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleload(clubs)"> Load Members </a>]
                                       </td>
                                       <td style="text-align:left;">{{clubs.id}}</td>
                                       <td style="text-align:left;">{{clubs.club_member_num}}</td>
                                       <td style="text-align:left;">{{clubs.club_name}}</td>
                                        <td style="text-align:left;">{{clubs.club_phone}}</td>
                                 <td style="text-align:left;">{{clubs.created_date  | date : 'yyyy-MMM-dd'}}}</td>
								        <td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleUpdate(clubs)"> EDIT </a>]
                                       </td>
									      <td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleRemove(clubs)"> Remove </a>]
                                       </td>
									   
                                    </tr>
                                    <tr>
                                       <td colspan="9" style ="text-align:center;">
                                          <pagination total-items="totalItems" ng-model="currentPage"  
                                             max-size="5" boundary-links="true"  
                                             items-per-page="numPerPage" class="pagination-sm">  
                                          </pagination>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
						 <pageslide ps-open="checked" ps-body-class="true" ps-size="30%">
                             <div style="padding:0px" ng-show="Tab">
							 	</br>
                                 <h2 ng-bind="tabheader" id="tabheader" name="tabheader">Investment Club Form</h2>
                                 
                                      <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Club Name</h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "clubname" id = "clubname" ng-model= "clubname" class="form-control required"  placeholder="Club Name">
                                             
                                        </div>
										</div>
										  <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Club Phone</h1><br><h1>+263</h1></label>
                                            <input type="number" style="border: 1px solid #fff;" min="1" name  = "clubphone" id = "clubphone" ng-model= "clubphone" class="form-control required"  placeholder="Club Phone">
                                             
                                        </div>
										</div>
										  <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>No. of Members</h1> <br></label>
                                            <input type="number" style="border: 1px solid #fff;" name  = "nummember" id = "nummember" ng-model= "nummember" class="form-control required"  placeholder="No. Of Member">
                                             
                                        </div>
										</div>
										 <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue" ng-bind="clubidd" id="clubidd" name="clubidd"></label>
                            
                                         
										 </div>
										</div>
                               <div class="col-sm-12" >

                                        <div id="bottom-wizard" >
                                           <button type="button" id="btnSubmit" ng-click="Submit()" class="btn col-md-3 m-l-5 pull-right btn-primary pull-right ">Submit </button>
                                        </div>

                                    </div>
									</div>
									<div style="padding:0px" ng-show="Tab2">
									</br>
                                 <h2 ng-bind="tabheader" id="tabheader" name="tabheader">Investment Club Form</h2>
                                 
                                      <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Surname</h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "surname" id = "surname" ng-model= "surname" class="form-control required"  placeholder="Surname">
                                             
                                        </div>
										</div>
										  <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>First Name</h1><br></label>
                                            <input type="text" style="border: 1px solid #fff;" min="1" name  = "firstname" id = "firstname" ng-model= "firstname" class="form-control required"  placeholder="Firstname">
                                             
                                        </div>
										</div>
										  <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Email</h1> <br></label>
                                            <input type="email" style="border: 1px solid #fff;" name  = "mememail" id = "mememail" ng-model= "mememail" class="form-control required"  placeholder="email">
                                             
                                        </div>
										</div>
										<div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Phone</h1><br><h1>+263</h1></label>
                                            <input type="number" style="border: 1px solid #fff;" min="1" name  = "memphone" id = "memphone" ng-model= "memphone" class="form-control required"  placeholder="779627951">
                                             
                                        </div>
										</div>
										 <div class="col-sm-12  " >
                                        <div class="form-group fg-line">
                                            <label  class="c-blue" ng-bind="clubiddz" id="clubiddz" name="clubiddz"></label>
                                         </div>
										</div>
                               <div class="col-sm-12" >

                                        <div id="bottom-wizard" >
                                           <button type="button" id="btnSubmit" ng-click="SubmitMember()" class="btn col-md-3 m-l-5 pull-right btn-primary pull-right ">Submit </button>
                                        </div>

                                    </div>
			         </div>
			           </pageslide>
				
            </div>
       
            </div>
            <div class="card" >
            <div class="card-header" style="padding-bottom:25px;" >
                  
                <div class="card-header">
                            <h4 ng-bind="clubname" id="clubname" name="clubname"></h4>
                                  <h5>CLUB MEMBERS</h5>
		   <h6><button ng-click="toggleN()" ng-show="IsVisible" class="btn btn-primary"><i class="fa fa-user"></i>ADD MEMBERS</button>
 </h6>

                        </div>
                      <div class="card-body table-responsive">
                           <div class="pmo-map">
                              <table class="table  table-hover table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th style="text-align:left;">#</th>
                                       <th style="text-align:left;">Surname</th>
                                       <th style="text-align:left;">Firstname</th>
                                       <th style="text-align:left;">Phone</th>
                                      <th style="text-align:left;">Email</th>
									    <th style="text-align:left;">Date Added</th>
									<th style="text-align:left;">Confirmed</th>
										<th style="text-align:left;">Rejected</th>
								<th style="text-align:left;">Confirmation Date</th>
										  <th style="text-align:left;">#</th>
										    <th style="text-align:left;">#</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="clubmembers in clubmemberlist" >
                                       <td style="text-align:left;">{{clubmembers.id}}</td>
                                       <td style="text-align:left;">{{clubmembers.Surname}}</td>
                                       <td style="text-align:left;">{{clubmembers.Firstname}}</td>
                                        <td style="text-align:left;">{{clubmembers.member_phone}}</td>
										    <td style="text-align:left;">{{clubmembers.member_email}}</td>
                                 <td style="text-align:left;">{{clubmembers.created_date  | date : 'yyyy-MMM-dd'}}</td>
                              <td style="text-align:left;">{{clubmembers.confirmed}}</td>
						<td style="text-align:left;">{{clubmembers.rejected}}</td>
									           <td style="text-align:left;">{{clubmembers.confirmation_date  | date : 'yyyy-MMM-dd'}}</td>								
									<td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleUpdateMember(clubmembers)"> EDIT </a>]
                                       </td>
									      <td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleRemoveMember(clubmembers)"> Remove </a>]
                                       </td>
									      <td   style="text-align:left;">
                                          [<a href=""   ng-click="toggleinvite(clubmembers)"> Resend invite </a>]
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="9" style ="text-align:center;">
                                          <pagination total-items="totalItems2" ng-model="currentPage2"  
                                             max-size="5" boundary-links="true"  
                                             items-per-page="numPerPage2" class="pagination-sm">  
                                          </pagination>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
		
                             
          
            </div>
       
            </div>
         </div>
   
   </div>

<!-- Buy Orders -->
<script type="text/ng-template" id="placeOrderDiagBUY">
   <form ng-controller="OrderCtrl">
       <div class="ngdialog-message">
           <h2 style="border-bottom: 1px green solid;">PLACE BUY ORDER</h2>

           <div>
               <div id ="addr_yangu"><b> Select Exchange</b> </div>
   
               FINSEC <input type="radio" ng-model="xchange" name="xchange" value ="FINSEC" checked="true" ng-change="checkStuff(xchange)" />
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)" />
               
           </div>
   
           <div>
               <div id ="addr_yangu"> <b>Select Company </b> </div>
   
               <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                         data-placeholder-text-single="'Select Company'"
                         no-results-text="'Could not find Company'"
                         ng-model="company"
                         ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                     <option value=""></option>
               </select>
   
           </div>
           
           <div>
               Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
           </div>                    
           <div>
               <div id ="addr_yangu"> <b>Security </b></div>
               <select name ="security" ng-model="security"   class='mytextEditor'>
                   <option value ="Equity"> Equity </option>
               </select>
           </div>
           <div>
               <div id ="addr_yangu"> <b>Quantity </b></div>
               
               <input type="number" min="0" step="any" ng-model="quantity" name ="quantity" class='mytextEditor'/>
           </div>
   
   
           <div style ="{{tinashe_my_style}}" >
               <div id ="addr_yangu"> <b>Select broker {{my_broker_name.Code}}</b><br>
                   <i  ng-if="my_broker_name" >*Minimum BUY Order value  ZWL{{my_broker_name.threshold}} </i></div>
               <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
           </div>
                              
           <div>
               <div id ="addr_yangue"> <b>Time in force </b></div>
               <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>
                   <option value="Day Order (DO)">Day Order (DO)</option>
                   <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                   <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                   <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
               </select>                        
           </div>                       
           <div style = "{{my_style_now}}" >
               <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />
   
           </div>
           <div>
               <div id ="addr_yangu"> <b>Price </b></div>
               <input type="number"   min="0" step="any" ng-model="price" name ="price" class='mytextEditor'/>
           </div>


           <div>
               Gross Total : {{ (price * quantity ) | currency:"ZWL" : 2 }}<br> 
               Charges : {{ ( ( price * quantity) * 0.01693 ) | currency:"ZWL":2}}   <br />
               Net Total : {{ ( price * quantity * 1.01693)  | currency:"ZWL":2 }}   <br />
           </div>
           <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY" />
       </div>
       <div class="ngdialog-buttons mt">
           <button type="button" ng-click="doOrder('BUY')" ng-model="isDisabled_buy" ng-disabled="isDisabled_buy" class="ngdialog-button ngdialog-button-primary" >
               <span ng-show="searchButtonText_buy == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
               {{ searchButtonText_buy }}
           </button>
       </div>
   
       <pre  style="display:none;">Order Details={{list}}</pre>
   <form>
   
   
</script>

   <!-- Sell Orders -->
   <script type="text/ng-template" id="placeOrderDiagSELL">
      <form ng-controller="OrderCtrl">
          <div class="ngdialog-message">
              <h2 style="border-bottom: 1px red solid;">PLACE SELL ORDER</h2>
              <div>
                  <div id ="addr_yangu"><b> Select Exchange</b> </div>
      
                  FINSEC <input type="radio" ng-model="xchange" name="xchange" value ="FINSEC" checked="true" ng-change="checkStuff(xchange)">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)">
                  
              </div>
      
              <div>
                  <div id ="addr_yangu"> <b>Select Company</b>  </div>
      
                  <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                            data-placeholder-text-single="'Select Company'"
                            no-results-text="'Could not find Company'"
                            ng-model="company"
                            ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                        <option value=""></option>
                    </select>
      
             
      
              </div>
              <div>
                  Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
              </div>
              <div>
                  <div id ="addr_yangu"> <b>Security</b> </div>
                  <select name ="security" ng-model="security"   class='mytextEditor'>
                      <option value ="Equity"> Equity </option>
                  </select>
              </div>
              <div>
                  <div id ="addr_yangu">  <b>Quantity  </b> </div>
                  
                  <input type="number" min="0" step="any"  ng-model="quantity" name ="quantity" class='mytextEditor'/>
              </div>
      
              <div style ="{{tinashe_my_style}}" >
                  <div id ="addr_yangu"> <b> Select broker {{my_broker_name.Code}} </b> <br>
                      <i  ng-if="my_broker_name" >*Minimum SELL Order value  ZWL{{my_broker_name.threshold}} </i> </div>
                  <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
              </div>
      
              <div style="display: none;" >
                  <div id ="addr_yanguse"> Order Type</div>
                  <select name ="marko"  ng-model="marko"   class='mytextEditor'>
                      <option value="M">Market Order</option>
                      <option value="L">Limit Order</option>
                      <option value="S">Stop Order</option>
                      <option value="SL">Stop Limit Order</option>
                      <option value="HO">Hidden Order</option>
                  </select>                        
              </div>                      
              <div style="display: none;">
                  <div id ="addr_yangsue"> Order Qualifier </div>
                  <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                      <option value="FOK">Feel or Kill</option>
                      <option value="MF">Market Feel</option>
                  </select>                        
              </div>                      
             
              <div>
                  <div id ="addr_yangue">  <b>Time in force  </b></div>
                  <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>                      
                      <option value="Day Order (DO)">Day Order (DO)</option>
                      <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                      <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                      <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                  </select>                        
              </div>                       
              <div style = "{{my_style_now}}" >
                  <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                   <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />
      
              </div>
      
              <div>
                  <div id ="addr_yangu">  <b>Price  </b></div>
                  <input  type="number"  min="0" step="any" ng-model="price" name ="price" class='mytextEditor'/>
              </div>

              
              <div>
                  Gross Total : {{ (price * quantity) | currency:"ZWL":2 }}<br>
                  Charges : {{ ( ( price * quantity) * 0.02443 ) | currency:"ZWL":2 }}<br>
                  Net Total : {{ ( price * quantity * 0.97557)  | currency:"ZWL":2 }}
              </div>                    
              <input type="hidden" ng-model="order_type" name ="order_type" value = "SELL"/>
              
             
      
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="doOrder('SELL')"  ng-model="isDisabled_sell"   ng-disabled="isDisabled_sell" class="ngdialog-button ngdialog-button-primary" >
                  <span ng-show="searchButtonText_sell == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                  {{ searchButtonText_sell }}
              </button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <form>
      
      
   </script>   
   <script type="text/ng-template" id="placeOrderDiagDeposit">
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Deposit funds</h2>
              <div>
                  <div id ="addr_yangu"> Select method of payment  </div>
                  <select name ="pay_methd" ng-model="pay_methd"   ng-change="updatePayments()" class='mytextEditor'>
                      <option value ="paynow"> Paynow (Visa, Zimswitch, Ecocash, Telecash)</option>
                      <option value ="Ecocash"> Ecocash* </option>
                      <option value ="Telecash"> Telecash* </option>
                  </select>
              </div>
              <div style = "{{my_style_phone}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} Phone Number :  +263-</div>
                   <input type="number"  ng-model="phone_numbr" name ="phone_numbr" class='mytextEditor'  /><br />
      
              </div>
              <div style = "{{my_style_phone_otp}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} OTP :</div>
                   <input type="number"  ng-model="phone_numbr_otp" name ="phone_numbr_otp" class='mytextEditor'  /><br />
      
              </div>                    
              <div>
                  <div id ="addr_yangu"> Amount <br> <i>*Minimum amount must be $10</i> </div>
                      <input type="number"  min="10" ng-model="pay_ammt" name ="pay_ammt" class='mytextEditor'/>
              </div>
              
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="depositMoney()"  class="ngdialog-button ngdialog-button-primary" >Make Deposit ► </button>
          </div>
      
          <pre  style="display:none;">Deposit Details={{list}}</pre>
      <form>
      
      
   </script>


   <script type="text/ng-template" id="placeOrderDiagChangeBroker" >
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Change broker</h2>
              <div>
                  <div id ="addr_yangu"> Select broker </div>
                  
                  <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokercz"></select>
      
              </div>
      
          </div>
          <div class="ngdialog-buttons mt" style="visibility:hidden">
              <button type="button" ng-click="changeBroker()"  class="ngdialog-button ngdialog-button-primary" >Change Broker ► </button>
          </div>
      
          <pre  style="display:none;">Deposit Details={{list}}</pre>
      <form>
      
   </script>

   <script type="text/ng-template" id="orderView">
      <div  style ="width: 100%;">
          <div class="ngdialog-message">
              <h2>Order Details</h2>
              <div>
                  <table class="table table-bordered ">
                      <tbody>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">counter</td>
                           <td style="text-align:left;">{{ngDialogData.fullname}} {{ngDialogData.counter}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">order type</td>
                           <td style="text-align:left;">{{ngDialogData.type}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">volume</td>
                           <td style="text-align:left;">{{ngDialogData.volume}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Current price</td>
                           <td style="text-align:left;">{{ngDialogData.price | currency:"ZWL":2 }} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Posted date</td>
                           <td style="text-align:left;">{{ngDialogData.date}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Order status</td>
                           <td style="text-align:left;">{{ngDialogData.status}}  </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Description</td>
                           <td style="text-align:left;">{{ngDialogData.desc}} </td>
                        </tr>
                        <tr><td style="text-align:center;text-transform: uppercase;" colspan="2">{{ngDialogData.fullname}} on the market </td></tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">best bid price</td>
                           <td style="text-align:left;">{{ngDialogData.bidprice}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">bid volume</td>
                           <td style="text-align:left;">{{ngDialogData.bidvolume}} </td>
                        </tr>                        
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">ask volume</td>
                           <td style="text-align:left;">{{ngDialogData.askvolume}}</td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Best ask price</td>
                           <td style="text-align:left;">{{ngDialogData.askprice}}  </td>
                        </tr>                        
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">current price</td>
                           <td style="text-align:left;">{{ngDialogData.current_price}} </td>
                        </tr>

                      </tbody>
      
                  </table>

              </div>
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-controller="OrderCtrl" ng-click="cancelOrder(ngDialogData.id, ngDialogData.type)" class="ngdialog-button ngdialog-button-primary" >Cancel Order</button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <div>
   </script>  


   <script type="text/ng-template" id="performanceReport">
      <div  style ="width: 82%;">
          <div class="ngdialog-message">
              <h2>Perfomance Report</h2>
              <div class="table-responsive">
                  <table class="table table-bordered ">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Security</th>
                              <th>Last Activity date</th>
                              <th>No. Shares</th>
                              <th>Current price per share</th>
                              <th>Current portfoil value</th>
                              <th>Previous price per share</th>
                              <th>Previous portfolio value</th>
                              <th>Net Movement (Day) </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="my_port in my_portfolio" >
                              <td>1</td>
                              <td>{{my_port.counter}}</td>
                              <td>{{my_port.numbershares}}</td>
                              <td>{{my_port.lastactivitydate}}</td>
                              <td>{{my_port.currentprice}}</td>
                              <td>{{my_port.totalportvalue}}</td>
                              <td>{{my_port.currentprice}}</td>
                              <td>{{my_port.totalportvalue}}</td>                                                        
                              <td>{{my_port.totalportvalue - my_port.totalportvalue}} <span class ="green_arrow"></span></td>
                      </tbody>
      
                  </table>
              </div>
      
      
      
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Download</button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <div>
   </script>  

   <script type="text/ng-template" id="warning-dialog.html">
      <div class="ngdialog-header">
       <h3>You're Idle. Do Something!</h3>
      </div>
      <div idle-countdown="countdown" ng-init="countdown=5" class="ngdialog-message">
       <uib-progressbar max="60" value="60" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
      </div>
      
   </script>
        <script type="text/ng-template" id="placeOrderDiagWidthdraw">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Withdraw funds</h2>
                    <div>
                        <div id ="addr_yangu" ng-controller="mybalanceViewCtrl" > Actual Cash: {{cash_balance  | currency:"ZWL":2}}  </div>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Amount *Minimum amount must be $10</div>
                            <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="widthdrawMoney()"  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_dep }}
                    </button>
                </div>
                <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
            <form>

        </script>
		 <script type="text/ng-template" id="placeOrderDiagConvert">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Convert funds</h2>
                    <div>
                        <div id ="addr_yangu" ng-controller="mybalanceViewCtrl" > Actual Cash: {{actualcash_balance_forex  | currency:"USD":2}}  </div>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Amount *Minimum amount must be $10</div>
                            <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="convertMoney()"  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_dep_forex }}
                    </button>
                </div>
                <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
            <form>

        </script>
  <!-- <script type="text/ng-template" id="placeOrderDiagWidthdraw">
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Widthdraw funds</h2>
              <div ng-controller="mybalanceViewactualcashCtrl">
                  <div id ="addr_yangu" > Actual Cash: ${{cash_balance_now}}</div>
              </div>
              <div>
                  <div id ="addr_yangu"> Amount *Minimum amount must be $10</div>
                      <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
              </div>
                <div>
                  <div id ="addr_yangu"> Do you want to widthdraw to ecocash </div>
                      Yes <input type="checkbox" ng-model="pay_eco_with" name ="pay_eco_with" class='mytextEditor'/> <br>
                      No  <input type="checkbox" ng-model="pay_eco_with" name ="pay_eco_with" class='mytextEditor'/>
              </div>
              
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="widthdrawMoney()"  class="ngdialog-button ngdialog-button-primary" >
                  <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                  {{ searchButtonText_dep }}
              </button>
          </div>
          <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
      <form>
      
   </script>
--!>

   <script type="text/ng-template" id="timedout-dialog.html">
      <div class="ngdialog-header">
       <h3>You have been Timed Out!</h3>
      </div>
      <div class="ngdialog-message">
       <p>
          You were idle too long. Normally youd be logged out, but in this demo just do anything and youll be reset.
       </p>
      </div>
   </script>

</div>