<div class="dash-widgets"  ng-controller="dashboardCtrl" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btns {
  background-color:transparent;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-left:1%;
  font-size: 20px;
  cursor: pointer;
 
}

/* Darker background on mouse-over */
.btns:hover {
  background-color: RoyalBlue;
}
</style>
<div class="row">
<a href="#!home"><button class="btns" style="color:#FFFFFF;font-size:8pt"><i class="fa fa-home"></i>LOG OUT</button>
   </a>
</div>
<style>
.circle {
position: relative;
border-radius: 60%;
border:solid;
width: 80%;
height: auto;
background:black;
padding-top: 75%;
}
.circle h6{
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  font-size:12pt;
  color:#FFFFFF;
}
</style>
           <div class="row" style="margin-left:30%;margin-top:7%;height:300px">
                 <div class="row">
				 
                     <div class="col-md-4 col-sm-4">
					 <a href="#!equity">
					 <div class="circle" style="border-color:#00ab51" >
                        <h6>SHARES</h6>
                             </div>
							 </a>
							 </div>
							
					  <div class="col-md-4 col-sm-4">
					   <a href="#!unitrusts">
					
					 <div class="circle" style="border-color:#fce237">
                        <h6>UNIT TRUSTS</h6>
                             </div>
							 </a>
							 </div>
							 </div>
							 <br/>
			   




                        </div>
              



      
			</div>
