<div class="dash-widgets"  ng-controller="dashboardCtrl" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btns {
  background-color:transparent;
  border: none;
  color: white;
  padding: 10px 10px;
  margin-left:1%;
  font-size: 20px;
  cursor: pointer;
 
}

/* Darker background on mouse-over */
.btns:hover {
  background-color: RoyalBlue;
}
</style>
<div class="row">
<a href="#!main"><button class="btns" style="color:#FFFFFF;font-size:8pt"><i class="fa fa-home"></i>Home</button>
   </a>
</div>
   <div class="row">
      <div class="col-md-12 col-sm-6">
         <span class="him-label pull-right" ng-if="Login_Name == 'logged' "  data-ng-init="start()">{{paramValue}}</span>
      </div>
      <div class="col-md-4 col-sm-6">
         <div class="card" >
            <div class="card-header" style="padding-bottom:25px;" ng-controller="mybalanceViewCtrl">
                  
               <h6>
                
                  <table class="table  table-hover table-bordered table-striped">
                     <thead>
                        <tr>
                           <th style="text-align: left;text-transform: none;">
                              <h1>My Account</h1>
                           </th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td style="text-align: left;">Uncleared Cash : </td>
                           <td style="color:#77f977;text-align: right;" >{{v_cash_balance  | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Cleared Cash :  </td>
                           <td style="color:#77f977;text-align: right;" >{{actualcash_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">My Portfolio:  </td>
                           <td style="color:#77f977;text-align: right;" >{{cash_balance | currency:"ZWL":2}}</td>
                        </tr>
                     
                        <tr>
                           <td style="text-align: left;">Total Account : </td>
                           <td style="color:#82b4f5;text-align: right;" >{{total_balance | currency:"ZWL":2}}</td>
                        </tr>
                        <tr>
                           <td style="text-align: left;">Total Profit Loss (Day): </td>
                           <td style="color:green;text-align: right;" >{{pl_balance | currency:"ZWL":2}}</td>
                        </tr>
                     <tr>
                           <td style="text-align: left;">Forex Wallet Balance: </td>
                           <td style="color:green;text-align: right;" >{{actualcash_balance_forex | currency:"USD":2}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <small class ="pull-right">
                  <a style="margin:10px;" class="btn btn-primary deposit" ng-click="placeOrderDiagDeposit()">Deposit</a> 
                  <button class="btn btn-primary widthdraw" ng-click="placeOrderDiagWidthdraw()" style="margin:10px;">Withdraw</button> 
<button class="btn btn-primary buy" ng-click="placeOrderDiagConvert()" style="margin:10px;">Convert</button> 

                  </small> 
               </h6>
            </div>
            <div class="card-body" ng-controller="cashtransactionlistsCtrl">
               <div class="pmo-map">
                  <h1>Cash Transactions</h1>
                  <br>
                  <table class="table  table-hover table-bordered table-striped">
                     <thead>
                        <tr>
                           <!-- <th>#</th> -->
                           <th style="text-align: left;">Type</th>
                           <th>Desc</th>
                           <th>Amount</th>
                           <th>Date</th>
                           <!-- <th>Status</th> -->
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="cash_countr in cash_transactions  | orderBy:predicate:reverse | filter:paginate" >
                           <!-- <td></td> -->
                           <td  style="text-align: left;">{{cash_countr.type}}</td>
                           <td>{{cash_countr.desc}}</td>
                           <td>
                              <span ng-if="cash_countr.ammount < 0" class ="our-red-color">{{cash_countr.ammount | currency:"ZWL":2}}</span>
                              <span ng-if="cash_countr.ammount > 0" class ="our-green-color">{{cash_countr.ammount | currency:"ZWL":2}}</span>
                           </td>
                           <td>{{cash_countr.date}}</td>
                           <!-- <td>{{cash_countr.status}}</td> -->
                        </tr>
                        <tr>
                           <td colspan="4"  style ="text-align:center;">
                              <pagination total-items="totalItems" ng-model="currentPage"  
                                 max-size="5" boundary-links="true"  
                                 items-per-page="numPerPage" class="pagination-sm">  
                              </pagination>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <br>
                  <!-- <a class ="pull-right" href ="#">View Statement</a> -->
               </div>
            </div>
            <div ng-controller="unitslideCtrl" class="card-header" style="padding: 0px 0px 0px 18px;">
                                              <div ng-controller="unitslideCtrl">  
                   <div class="user show">
                                                        <div class="row">
                                                             <button class="col-md-4 btn btn-link blink_text" style="color: #22f92c;font-size: 20px; font-family: 'Times New Roman', Times, serif;"><blink ng-cloak><b>Trade Now</b></blink></button>
  <button class="col-md-3 m-l-5 btn btn-primary buy" style="font-size:10px;" ng-click="toggle()">Subscribe/Invest</button>                                                           
					                                                          
														   <button class="col-md-3 btn btn-primary sell" style="font-size:10px;"   ng-click="toggle2()">Disinvest</button>
                   									
                           <pageslide ps-open="checked" ps-body-class="true" ps-size="30%">
						 
                             <form ng-show="Invest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%" ng-submit="doInvest()">

			 <h2 style="border-bottom: 1px green solid;">SUBSCRIBE/INVEST</h2>
                <div class="ngdialog-message">
				     <div id ="addr_yangu">   	 
					 <p><span id="icompany" name="icompany" style="font-weight:bold;"  ng-bind="icompany"></span></p>
				  
				  <table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active/Passive</span></p>
				  </td>
				  
				  </tr>
				  </table>
				    
            Select Company
								 	 <br />
                   				 	
	     <select style="width:450px"  class='mytextEditor' ng-change="updatePrice()" name ="biproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Securities'"
                         ng-model="biproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>
			   <br/>			   
			   Select Fund
								 	 <br />	
       <select style="width:450px" class="mytextEditor" name="biproduct2" ng-model="biproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>			   
<table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>			   
					
           
			   
					 <p>Indicative Price:<span id="icurrentprice" name="icurrentprice"  ng-bind="icurrentprice" /></p>
		
<br />
			  Please Select Trade Type 
								 	 
                   				 	
	 <input style="width:450px" type="text" ng-model="tradetype" name ="tradetype"   ng-init="tradetype='INVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
								 	 <br />
                 <div id ="addr_yangu">Please enter amount<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsA()" ng-model="amount" name ="amount" class='mytextEditor'/>
                  
                    </div>
										 
             <p><span style="font_weight:bold" id="icurrentmessage" name="icurrentmessage"  ng-bind="icurrentmessage" /></p>
			 <p><span style="color:red" id="icurrentmessageerror" name="icurrentmessageerror"  ng-bind="icurrentmessageerror" /></p>
					
                <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left " >
                            SUBMIT          
                    </button>
                    <button style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left "  >
                         CANCEL            
                    </button>
                   
                </div>
		</div>
                <span id="icompanyunit" name="icompanyunit" style="visibility:hidden"  ng-bind="icompanyunit" />
              <span id="icompanyunit2" name="icompanyunit2" style="visibility:hidden"  ng-bind="icompanyunit2" />
              	
					 <p><span id="icurrentshares" style="visibility:hidden" name="icurrentshares"  ng-bind="icurrentshares" /></p>
         </form>
        
 <form ng-submit="doDisInvest()" ng-show="Disinvest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%">
    <h2 style="border-bottom: 1px green solid;">DISINVEST</h2>
              
             <div class="ngdialog-message">
				     <div id ="addr_yangu"> 
					 <p><span id="dicompany" name="dicompany" style="font-weight:bold;"  ng-bind="dicompany"></span></p>
				  <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active</span></p>
				  </td>
				  
				  </tr>
				  </table>
 Select Company
								 	 <br />
                   				 	
	     <select style="width:450px"  class='mytextEditor' ng-change="updatePrice()" name ="diproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Commodities'"
                         ng-model="diproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>		
<br/>			   
			   Select Fund
								 	 <br />				   
				     <select style="width:450px" class="mytextEditor" name="diproduct2" ng-model="diproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>		
				 <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>	
				  
					 <p>Indicative Price :<span id="dicurrentprice" name="dicurrentprice"  ng-bind="dicurrentprice" /></p>
			
<br />
			  Please Select Trade Type  
					 <br />
					 	
	 <input style="width:450px" type="text" ng-model="ditradetype" name ="ditradetype"   ng-init="ditradetype='DISINVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
			<br />
                 <div id ="addr_yangu">Please enter amount<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsB()" ng-model="diamount" name ="diamount" class='mytextEditor'/>
                  
                    </div> 
                         <p><span  style="font_weight:bold" id="dicurrentmessage" name="dicurrentmessage"  ng-bind="dicurrentmessage" /></p>
					<p><span style="color:red" id="dicurrentmessageerror" name="dicurrentmessageerror"  ng-bind="dicurrentmessageerror" /></p>
				  <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                            SUBMIT          
                    </button>
                    <button ng-click="closeThisDialog(0)" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                         CANCEL            
                    </button>
                   
                </div>
				
		</div>
                 <span id="dicompanyunit" name="dicompanyunit" style="visibility:hidden"  ng-bind="dicompanyunit" />
             <span id="dicompanyunit2" name="dicompanyunit2" style="visibility:hidden"  ng-bind="dicompanyunit2" />
             	
					 <p><span style="visibility:hidden" id="dicurrentshares" name="dicurrentshares"  ng-bind="dicurrentshares" /></p>
            
                
            </form>
  
                             </pageslide>
                         </div> 
                                                        </div>                                                  

                                            </div>
            </div>
            <div class="card-body" style='display:none;'>
               <div class="chart-edge">
                  <div id="site-visits" class="dw-item">
                     <div class="dwi-header">
                        <div class="dropdown-backdrop"></div>
                        <div class="user__info" data-toggle="dropdown" aria-expanded="false">
                           <img class="pull-left mCS_img_loaded" width="32" src="img/select_counter.png" alt="">                                     
                           <div>
                              <div class="user__name">{{graph_company}}</div>
                              <!-- <div class="user__email">Old Mutual Zimbabwe </div> -->
                           </div>
                        </div>
                        <div class="dropdown-menu pull-right">
                           <div class="dropdown-item dropdown-item-title">
                              <h1>SELECT COMPANY</h1>
                           </div>
                           <a ng-repeat="compani in companies_listing | orderBy:predicatec:reversec | filter:paginatec" class="dropdown-item"  ng-click="getDataServer(compani.Name);">
                           {{compani.Name}}
                           </a>
                           <pagination total-items="totalItemsc" ng-model="currentPagec"  
                              max-size="5" boundary-links="true"  
                              items-per-page="numPerPagec" class="pagination-sm">  
                           </pagination>
                        </div>
                        <div class="p-5">
                           <div>
                              <nvd3 style="fill:#e4b447;stroke:#e4b447;"  options="options", data="data", api="rc.api" config="{refreshDataOnly: true}" />
                              <!-- <nvd3   options="options"  ,data="data"  ,api=""></nvd3> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card m-b-20"  ng-controller="myprofileViewCtrl">
            <div class="card-header" style="padding-bottom:2px;">
               <h5>My Profile</h5>
            </div>
            <div class="card-body" id="profile-main">
               <div class="pmb-block">
                  <div class="pmbb-body ">
                     <div class="pmbb-view">
                        <dl class="dl-horizontal">
                           <dt>Full name</dt>
                           <dd>{{ ctrade_title }} {{ ctrade_forename }} {{ ctrade_surname }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Mobile</dt>
                           <dd>{{ ctrade_mobile }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Email</dt>
                           <dd>{{ email }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>C-TRADE Account Number</dt>
                           <dd>{{cds}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Country</dt>
                           <dd>{{ctrade_country}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Custodian</dt>
                           <dd>{{ctrade_custodian}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Broker</dt>
                           <dd>{{ctrade_broker}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>ID Number</dt>
                           <dd>{{ctrade_idnumber}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Bank</dt>
                           <dd>{{ctrade_bank}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Bank branch</dt>
                           <dd>{{ctrade_branch}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                           <dt>Bank account number</dt>
                           <dd>{{ctrade_acc_num}}</dd>
                        </dl>
                        <div class="m-t-10">
                         <div ng-controller="pageslideCtrl">
                           <button  ng-click="toggle()" ng-show="IsVisible4" class="btn btn-link my_btntin  btn-sm waves-effect">Change Static Details</button><br>
<button ng-click="toggleN()"  class="btn btn-link my_btntin  btn-sm waves-effect">NEWS FEED</button><br>
                              
						   <pageslide ps-open="checked" ps-body-class="true" ps-size="30%">
                             <div style="padding:20px">
                                 <h2 ng-bind="tabheader" id="tabheader" name="tabheader">Please answer the following </h2>
                                 

                                 <div class="row">
                                  <div class="col-sm-12  " ng-show="IsVisible2">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Select Bank</h1> <br></label>
                                         
                                              </select>
											  <select ng-change="updateBranch()" class="mytextEditor" name="bank" ng-model="bank">

<option ng-repeat="option in banklisting" value="{{option.Code}}">{{option.Name}}</option>
</select>
                                        </div>
                                    </div>
									  <div class="col-sm-12  " ng-show="IsVisible2">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Select Branch</h1> <br></label>
                                            	  <select  class="mytextEditor" name="branch" ng-model="branch">

<option ng-repeat="option in branchlisting" value="{{option.Name}}">{{option.Name}}</option>
</select>
                                        </div>
                                    </div>
  <div class="col-sm-12  " ng-show="IsVisible2">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Account Number</h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "account" id = "account" ng-model= "account" class="form-control required"  placeholder="Account Number">
                                             
                                        </div>
                                    </div>
									  <div class="col-sm-12  " ng-show="IsVisible2">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Phone Number</h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "phone" id = "phone" ng-model= "phone" class="form-control required"  placeholder="Phone Number">
                                             
                                        </div>
                                    </div>
									  <div class="col-sm-12  " ng-show="IsVisible2">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>Address</h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "address" id = "address" ng-model= "address" class="form-control required"  placeholder="Address">
                                             
                                        </div>
                                    </div>
                                    <div class="col-sm-12  " ng-show="IsVisible">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>1. What is your favorite book? </h1> <br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "qsn1" id = "qsn1" ng-model= "qsn1" class="form-control required">
                                             
                                        </div>
                                    </div>

                                    <div class="col-sm-12  " ng-show="IsVisible">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>2. What is your mother’s maiden name? </h1><br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "qsn2" id = "qsn2" ng-model= "qsn2" class="form-control required">
                                            
                                        </div>
                                    </div>

                                    <div class="col-sm-12" ng-show="IsVisible">
                                        <div class="form-group fg-line">
                                            <label  class="c-blue"><h1>3. What is the name of the road you grew up in?  </h1><br></label>
                                            <input type="text" style="border: 1px solid #fff;" name  = "qsn3" id = "qsn3" ng-model= "qsn3" class="form-control required">
                                             
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="IsVisible2">

                                        <div id="bottom-wizard">
                                           <button type="button" ng-click="toggle()" id="move_now_backward" class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">Back</button>
                                           <button type="button" id="move_now_forward" class="btn col-md-3 m-l-5 pull-right btn-primary pull-right " ng-click="CommitProfile()">Next</button>
                                        </div>

                                    </div>
									<div class="col-sm-12" ng-show="IsVisible">

                                        <div id="bottom-wizard" >
                                           <button type="button" id="btnSubmit" ng-click="SubmitProfile()" class="btn col-md-3 m-l-5 pull-right btn-primary pull-right ">Submit </button>
                                        </div>

                                    </div>
<div style="margin-left:5%" class="col-sm-10" ng-show="News">
									 <h4 style="border-bottom: 1px red solid;">NEWS FEED</h2>
									 <br/>
                                        <div ng-repeat="news_list in newslist  | orderBy:predicateon:reverseon | filter:paginateon" style="border-bottom:0.5px lightgray solid;border-style:none;">
								          <h5 style="text-decoration: underline;">{{news_list.Heading }}</h3>
										  <hr/>
										  <p style="text-alignment:justify;font-size:9pt">
										  {{news_list.Message }}
										  </p>
										  <hr/>
									     </div>
										  <div style="border-bottom:0.5px lightgray solid;border-style:none;">
								        
										  <pagination total-items="totalItemson" ng-model="currentPageon"  
                                 max-size="7" boundary-links="true"  
                                 items-per-page="numPerPageon" class="pagination-sm">  
                              </pagination>
										</div>
									</div>
                                 </div>   
                             </div>
                             </pageslide>
                         </div> 
						 
                           <button ng-controller="tempdataCtrl"  ng-click="logout()" class="btn my_btntin btn-link btn-sm waves-effect">LOGOUT</button>
                        <button style="visibility:hidden"  ng-click="openChangeBroker()" class="btn btn-link my_btntin  btn-sm waves-effect">Change Broker</button><br>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
		 <!--load new grids -->
		
      </div>
   
                            <div class="col-md-8 col-sm-6">
 
                                <div class="card" ng-controller="unitslideCtrl">
								
								<div class="card-header">
               <h5>Unit Trusts</h5>
			   
			   <br/>
      <h5>Select Company</h5>
   
      <select style="background:#FFFFFF;color:black;width:200px" ng-change="LoadFund()" class='mytextEditor' name="brokercode" ng-model="brokercode">

<option ng-repeat="option in unittrusts" value="{{option.Company}}">{{option.fnam}}</option>
</select>
               
   
           
			     <h5><span id="company" ng-bind="company"></span></h5>
										
            </div>
        <div class="card-body table-responsive">
                         
                         								          
											<hr />
											 <input style="color:black;width:300px" id="inputDatabaseName"  name="inputDatabaseName" ng-trim="false" ng-model="inputDatabaseName" hidden/>
 	
		   <div class="col-md-6 col-sm-2"  >
                              
										  <table  class="table  table-hover table-bordered table-striped table-expandable">
                                                                              <thead>
																			  <th>#</th>
											 <th>
											 FUND
											 </th>
											 <th>
											TYPE OF FUND
											 </th>
											 <th>
											 CURRENT PRICE PER UNIT
											 </th>
											 <th>
											 ISSUE DATE
											 </th>
											 <th>
											 ISSUE PRICE PER UNIT
											 </th>
											 
											 </thead>
                                             <tbody>
											 <tr ng-repeat="unit_trust in Funds">
										
											   <td>{{$index+1}}</td>
										
											  <td>
											{{unit_trust.Company }}
											 </td>
											 <td>
											{{unit_trust.FundType}}
											 </td>
											 	 <td>
											{{unit_trust.InitialPrice}}
											 </td>
											 <td>
											{{unit_trust.IssueDate| date:'MMM dd, yyyy'}}
											 </td>
											
											 <td>
											{{unit_trust.IssuePricePerUnit | currency:"ZWL":2}}
											 </td>
											 </tr>
											<tr>
                           <td colspan="4"  style ="text-align:center;">
                              <pagination total-items="totalItems3" ng-model="currentPage3"  
                                 max-size="10" boundary-links="true"  
                                 items-per-page="numPerPage3" class="pagination-sm">  
                              </pagination>
                           </td>
                        </tr>
											 </tbody>
										   
                                          </table>	
										  </div>	
										  <div class="col-md-6 col-sm-2"  style="border-left: 1px #ffffff solid;">
                                 <div>
                                    <h1>{{graph_company_ZSE}}</h1>
                                 </div>
                                 <nvd3 style="fill: #e4b447;stroke:#9c27b0"  options="options", data="data_zse", api="rc.api" config="{refreshDataOnly: true}" />
                              </div>
					
									
</div>										  
                         
								</div>
								<Style>
								.custom-class{
  color:green;
}

.default-color{
color:red;
}
								</style>
								    <div class="card" ng-controller="unitslideCtrl">
                        <div class="card-header">
                           <h5>My Transactions</h5>
                        </div>
                        <div class="card-body table-responsive">
                           <div class="pmo-map">
                              <table class="table  table-hover table-bordered table-striped">
                                 <thead>
                                    <tr>
                                       <th style="text-align:left;">#</th>
                                       <th style="text-align:left;">Counter</th>
                                       <th style="text-align:left;">Type</th>
                                       <th>Volume</th>
                                       <th>Price</th>
                                       <th>Date</th>
                                       <th>Status</th>
                                       <th >Full Name</th>
                                      
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr ng-repeat="order_list in orderlist  | orderBy:predicate2:reverse2 | filter:paginate2" ng-class="{'our-green-color': order_list.type === 'BUY', 'our-red-color': order_list.type === 'SELL'}" >
                                       <td style="text-align:left;">{{$index+1}}</td>
                                       <td style="text-align:left;">{{order_list.counter }}</td>
                                       <td style="text-align:left;">{{order_list.type}}</td>
                                       <td>
                                          <span>{{order_list.volume | number}}</span>
                                      </td>
                                       <td>
									
                                          {{order_list.price | currency:"":4}}
                                       </td>
                                        <td>{{order_list.date}}</td>
                                       <td >PENDING APPROVAL</td>
                                       <td >{{order_list.fullname}}</td>
                                       <td ng-if="orderr.status == 'AUTOTRADE' "  style="text-align:left;">
                                          [<a href=""  ng-controller="OrderCtrl" ng-click="deleteOrder(orderr.id, orderr.type)"> DELETE ORDER </a>]
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="9" style ="text-align:center;">
                                               <pagination total-items="totalItems2" ng-model="currentPage2"  
                                 max-size="5" boundary-links="true"  
                                 items-per-page="numPerPage2" class="pagination-sm">  
                              </pagination>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                                <div class="card" ng-controller="unitslideCtrl">
								    <div class="card-header">
              
            </div>
						  <div class="card-body table-responsive">
                                                
                          
                
			
										  </hr>
										  <span style="font-size:10pt"  name="pitotal"  ng-bind="pitotal" />			
								
								  
                                
                                       </div>
</div>
						  <div class="card" ng-controller="unitslideCtrl">
            <div class="card-header">
               <h5>My Portfolio</h5>
            </div>
            <div class="card-body table-responsive" >
               <div class="pmo-map">
                  <table class="table   table-sticky-header table-hover table-bordered table-striped table-expandable">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Company</th>
                           <th>Prev Day Quantity</th>
                           <th>Quantity</th>
                           <th>Sells</th>
                           <th>Available</th>
                           <th>Current price per share</th>
                           <th>Current portfoil value</th>
                           <th>Previous price per share</th>
                           <th>Previous portfolio value</th>
                           <th>Portfolio Gain / Loss (Day) </th>
                           <th>Last Activity date</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat-start="my_port in my_portfolio" >
                           <td>{{$index+1}}</td>
                           <td>{{my_port.counter}}</td>
                           <td>{{my_port.prev_numbershares | number}}</td>
                           <td>{{my_port.numbershares | number}}</td>
                           <td>{{my_port.uncleared | number}}</td>
                           <td>{{my_port.net | number}}</td>
                           <td>{{my_port.currentprice  | currency:"ZWL":4}}</td>
                           <td>{{my_port.totalportvalue  | currency:"ZWL":2}}</td>
                           <td>{{my_port.prevprice  | currency:"ZWL":2}}</td>
                           <td>{{my_port.totalPrevPortValue  | currency:"ZWL":2}}</td>
                           <td>
                              <span ng-if="my_port.returns < 0" class ="our-red-color">{{my_port.returns  | currency:"ZWL":2}} <span class ="red_arrow"></span></span>
                              <span ng-if="my_port.returns > 0" class ="our-green-color">{{my_port.returns  | currency:"ZWL":2}} <span class ="green_arrow"></span></span>
                              <span ng-if="my_port.returns == 0">{{my_port.returns  | currency:"ZWL":2}} </span>
                           </td>
                           <td>{{my_port.lastactivitydate}}</td>
                           <td>
                           </td>
                           <td style="cursor: pointer;">
                              <div class="table-expandable-arrow up" ng-if="my_port.expanded" ng-click="my_port.expanded = false"></div>
                              <div class="table-expandable-arrow" ng-if="!my_port.expanded" ng-click="my_port.expanded = true"></div>
                           </td>
                        </tr>
                        <tr ng-if="my_port.expanded" ng-repeat-end="">
                           <td colspan="11">
                              <div class ="row">
                                 <div class="col-md-12 col-sm-12">
                                    COMPANY: {{my_port.counter}}
                                    <br>                           
                                    <div class="pull-right">
                                       
                                                            <div ng-controller="unitslideCtrl">  
                        <button class="btn btn-primary sell"   ng-click="toggle2()">DISINVEST</button>                                                        
                                       <button class="btn btn-primary buy"   ng-click="toggle()">SUBSCRIBE/INVEST</button>  

                           <pageslide ps-open="checked" ps-body-class="true" ps-size="30%">
						 
                             <form ng-show="Invest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%" ng-submit="doInvest()">

			 <h2 style="border-bottom: 1px green solid;">SUBSCRIBE/INVEST</h2>
                <div class="ngdialog-message">
				     <div id ="addr_yangu">   	 
					 <p><span id="icompany" name="icompany" style="font-weight:bold;"  ng-bind="icompany"></span></p>
				  
				  <table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active</span></p>
				  </td>
				  
				  </tr>
				  </table>
				    
            Select Company
								 	 <br />
                   				 	
	     <select style="width:450px"  class='mytextEditor' ng-change="updatePrice()" name ="biproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Securities'"
                         ng-model="biproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>	
			   <br/>			   
			   Select Fund
								 	 <br />	
			   	     <select style="width:450px" class="mytextEditor" name="biproduct2" ng-model="biproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>	
<table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>			   
					
           
			   
					 <p>Indicative Price:<span id="icurrentprice" name="icurrentprice"  ng-bind="icurrentprice" /></p>
	
<br />
			  Please Select Trade Type 
								 	 
                   				 	
	 <input style="width:450px" type="text" ng-model="tradetype" name ="tradetype"   ng-init="tradetype='INVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
								 	 <br />
                 <div id ="addr_yangu">Please enter units<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsA()" ng-model="amount" name ="amount" class='mytextEditor'/>
                  
                    </div>
										 
             <p><span style="font_weight:bold" id="icurrentmessage" name="icurrentmessage"  ng-bind="icurrentmessage" /></p>
			 <p><span style="color:red" id="icurrentmessageerror" name="icurrentmessageerror"  ng-bind="icurrentmessageerror" /></p>
					
                <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left " >
                            SUBMIT          
                    </button>
                    <button style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left "  >
                         CANCEL            
                    </button>
                   
                </div>
		</div>
                <span id="icompanyunit" name="icompanyunit" style="visibility:hidden"  ng-bind="icompanyunit" />
              <span id="icompanyunit2" name="icompanyunit2" style="visibility:hidden"  ng-bind="icompanyunit2" />
              	
					 <p><span id="icurrentshares" style="visibility:hidden" name="icurrentshares"  ng-bind="icurrentshares" /></p>
         </form>
        
 <form ng-submit="doDisInvest()" ng-show="Disinvest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%">
    <h2 style="border-bottom: 1px green solid;">DISINVEST</h2>
              
             <div class="ngdialog-message">
				     <div id ="addr_yangu"> 
					 <p><span id="dicompany" name="dicompany" style="font-weight:bold;"  ng-bind="dicompany"></span></p>
				  <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active</span></p>
				  </td>
				  
				  </tr>
				  </table>
 Select Company
								 	 <br />
                   				 	
	     <select style="width:450px"  class='mytextEditor' ng-change="updatePrice()" name ="diproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Commodities'"
                         ng-model="diproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>
<br/>			   
			   Select Fund
								 	 <br />				   
				 	     <select style="width:450px" class="mytextEditor" name="diproduct2" ng-model="diproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>	
				 <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>	
				  
					 <p>Indicative Price :<span id="dicurrentprice" name="dicurrentprice"  ng-bind="dicurrentprice" /></p>
			
<br />
			  Please Select Trade Type  
					 <br />
					 	
	 <input style="width:450px" type="text" ng-model="ditradetype" name ="ditradetype"   ng-init="ditradetype='DISINVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
			<br />
                 <div id ="addr_yangu">Please enter amount<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsB()" ng-model="diamount" name ="diamount" class='mytextEditor'/>
                  
                    </div> 
                         <p><span  style="font_weight:bold" id="dicurrentmessage" name="dicurrentmessage"  ng-bind="dicurrentmessage" /></p>
					<p><span style="color:red" id="dicurrentmessageerror" name="dicurrentmessageerror"  ng-bind="dicurrentmessageerror" /></p>
				  <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                            SUBMIT          
                    </button>
                    <button ng-click="closeThisDialog(0)" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                         CANCEL            
                    </button>
                   
                </div>
				
		</div>
                 <span id="dicompanyunit" name="dicompanyunit" style="visibility:hidden"  ng-bind="dicompanyunit" />
             <span id="dicompanyunit2" name="dicompanyunit2" style="visibility:hidden"  ng-bind="dicompanyunit2" />
             	
					 <p><span style="visibility:hidden" id="dicurrentshares" name="dicurrentshares"  ng-bind="dicurrentshares" /></p>
            
                
            </form>
  
                             </pageslide>
                         </div> 
                                                        </div>                                                  

                                            </div>									   
                                    </div>
                                 </div>
                                 <div class="col-md-6 col-sm-6">
                                    <h4>TOP 5 BUY INFORMATION</h4>
                                    <table class="table table-inner table-vmiddle">
                                       <thead>
                                          <tr>
                                             <th>COMPANY</th>
                                             <th>Volume</th>
                                             <th>Price</th>
                                             <th>Total Value</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="buyi in my_port.BuyDetail">
                                             <td class="f-500 c-cyan">{{buyi.company}}</td>
                                             <td>{{buyi.volume}}</td>
                                             <td class="f-500 c-cyan">{{buyi.price}}</td>
                                             <td class="f-500 c-cyan">{{buyi.totalValue}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="col-md-6 col-sm-6">
                                    <h4>TOP 5 SELL INFORMATION</h4>
                                    <table class="table table-inner table-vmiddle">
                                       <thead>
                                          <tr>
                                             <th>COMPANY</th>
                                             <th>Volume</th>
                                             <th>Price</th>
                                             <th>Total Value</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr ng-repeat="seri in my_port.SellDetail">
                                             <td class="f-500 c-cyan">{{seri.company}}</td>
                                             <td>{{seri.volume}}</td>
                                             <td class="f-500 c-cyan">{{seri.price}}</td>
                                             <td class="f-500 c-cyan">{{seri.totalValue}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
									     <div class="card" ng-controller="unitslideCtrl">

	 <div class="card-header" style="border-color:white;padding-bottom:25px;" >
                                     
										
                                    </div>
                                    <!-- <div class="card-body" style="height:500px"> -->
	<style>
#chartdiv {
	width	: 100%;
	height	: 450px;
}												
	</style>
                                 <div class="card-header text-center bg-dark text-white">
  <label id="igraphcounter" ng-bind="igraphcounter" class="user-location" style="color:black;font-size:8pt"></label>
            	             <br /> </h1>
									     <div class="col-md-12" >
	

<!-- <div id="chartdiv"></div>													  -->
 <!-- </div> -->
									

             
                                       </div>

                                    </div>
                                
											 </div>
									   
									   
									             <div class="card">
									   <div class="card-header">

                                                            <div ng-controller="unitslideCtrl">  
                   <div class="user show">
                                                        <div class="row">
                                                     	   <button class="col-md-2 cd-signup btn btn-primary" style="font-size:10px;" >Get Technical Analysis</button>
 <button class="col-md-2 cd-signup btn btn-primary" style="font-size:0px;background:none"  ></button>
															   															  
															  <button class="col-md-2 m-l-5 btn btn-success sell" style="font-size:10px;"   ng-click="toggle()">Subscribe/Invest</button>
														   <button class="col-md-2 m-l-5 btn btn-primary sell" style="font-size:10px;" ng-click="toggle2()">Disinvest</button>
                                                         
                           <pageslide ps-open="checked" ps-body-class="true" ps-size="30%">
						 
                             <form ng-show="Invest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%" ng-submit="doInvest()">

			 <h2 style="border-bottom: 1px green solid;">SUBSCRIBE/INVEST</h2>
                <div class="ngdialog-message">
				     <div id ="addr_yangu">   	 
					 <p><span id="icompany" name="icompany" style="font-weight:bold;"  ng-bind="icompany"></span></p>
				  
				  <table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active</span></p>
				  </td>
				  
				  </tr>
				  </table>
				    
            Select Company
								 	 <br />
                   				 	
	     <select style="width:450px"  class='mytextEditor' ng-change="updatePrice()" name ="biproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Securities'"
                         ng-model="biproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>
<br/>			   
			   Select Fund
								 	 <br />	
			   	     <select style="width:450px" class="mytextEditor" name="biproduct2" ng-model="biproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>	
<table>
				  <tr>
				  <td style="width:150px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>			   
					
           
			   
					 <p>Indicative Price:<span id="icurrentprice" name="icurrentprice"  ng-bind="icurrentprice" /></p>
			
<br />
			  Please Select Trade Type 
								 	 
                   				 	
	 <input type="text" style="width:450px" ng-model="tradetype" name ="tradetype"   ng-init="tradetype='INVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
								 	 <br />
                 <div id ="addr_yangu">Please enter units<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsA()" ng-model="amount" name ="amount" class='mytextEditor'/>
                  
                    </div>
										 
             <p><span style="font_weight:bold" id="icurrentmessage" name="icurrentmessage"  ng-bind="icurrentmessage" /></p>
			 <p><span style="color:red" id="icurrentmessageerror" name="icurrentmessageerror"  ng-bind="icurrentmessageerror" /></p>
					
                <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left " >
                            SUBMIT          
                    </button>
                    <button style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left "  >
                         CANCEL            
                    </button>
                   
                </div>
		</div>
                <span id="icompanyunit" name="icompanyunit" style="visibility:hidden"  ng-bind="icompanyunit" />
              <span id="icompanyunit2" name="icompanyunit2" style="visibility:hidden"  ng-bind="icompanyunit2" />
              	
					 <p><span id="icurrentshares" style="visibility:hidden" name="icurrentshares"  ng-bind="icurrentshares" /></p>
         </form>
        
 <form ng-submit="doDisInvest()" ng-show="Disinvest" class="form-horizontal" style="font-size:8pt;margin-left:5%;margin-top:8%">
    <h2 style="border-bottom: 1px green solid;">DISINVEST</h2>
              
             <div class="ngdialog-message">
				     <div id ="addr_yangu"> 
					 <p><span id="dicompany" name="dicompany" style="font-weight:bold;"  ng-bind="dicompany"></span></p>
				  <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active</span></p>
				  </td>
				  
				  </tr>
				  </table>
 Select Company
								 	 <br />
                   				 	
	     <select  style="width:450px" class='mytextEditor' ng-change="updatePrice()" name ="diproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Commodities'"
                         ng-model="diproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>
<br>			   
 Select Fund
								 	 <br />			   
				 	     <select style="width:450px" class="mytextEditor" name="diproduct2" ng-model="diproduct2">
<option  Text="Select Fund"  value="Select Fund">Select Fund</option>
<option ng-repeat="option in FundList" value="{{option.Company}}">{{option.FundType}}</option>
</select>	
				 <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>	
				  
					 <p>Indicative Price :<span id="dicurrentprice" name="dicurrentprice"  ng-bind="dicurrentprice" /></p>
	
<br />
			  Please Select Trade Type  
					 <br />
					 	
	 <input style="width:450px" type="text" ng-model="ditradetype" name ="ditradetype"   ng-init="ditradetype='DISINVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
			<br />
                 <div id ="addr_yangu">Please enter amount<br>
                        <input style="width:450px" type="number" min="0" ng-change="myConsB()" ng-model="diamount" name ="diamount" class='mytextEditor'/>
                  
                    </div> 
                         <p><span  style="font_weight:bold" id="dicurrentmessage" name="dicurrentmessage"  ng-bind="dicurrentmessage" /></p>
					<p><span style="color:red" id="dicurrentmessageerror" name="dicurrentmessageerror"  ng-bind="dicurrentmessageerror" /></p>
				  <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                            SUBMIT          
                    </button>
                    <button ng-click="closeThisDialog(0)" style="color:red;background:#ffffff;"  class="btn col-md-3 m-l-5 pull-right btn-primary pull-left ">
                         CANCEL            
                    </button>
                   
                </div>
				
		</div>
                 <span id="dicompanyunit" name="dicompanyunit" style="visibility:hidden"  ng-bind="dicompanyunit" />
             <span id="dicompanyunit2" name="dicompanyunit2" style="visibility:hidden"  ng-bind="dicompanyunit2" />
             	
					 <p><span style="visibility:hidden" id="dicurrentshares" name="dicurrentshares"  ng-bind="dicurrentshares" /></p>
            
                
            </form>
  
                             </pageslide>
                         </div> 
                                                        </div>                                                  

                                            </div>
                                                        </div>                                                  

                                            </div>

                                        </div>
										</div>
										
										
										  </div> 
                        
										    
                            </div>
							
							    
         </div>
   
            </div>
         </div>
        
          
         </div>
      </div>
   </div>

<!-- Buy Orders -->
<script type="text/ng-template" id="placeOrderDiagBUY">
   <form ng-controller="OrderCtrl">
       <div class="ngdialog-message">
           <h2 style="border-bottom: 1px green solid;">PLACE BUY ORDER</h2>

           <div>
               <div id ="addr_yangu"><b> Select Exchange</b> </div>
   
               FINSEC <input type="radio" ng-model="xchange" name="xchange" value ="FINSEC" checked="true" ng-change="checkStuff(xchange)" />
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)" />
               
           </div>
   
           <div>
               <div id ="addr_yangu"> <b>Select Company </b> </div>
   
               <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                         data-placeholder-text-single="'Select Company'"
                         no-results-text="'Could not find Company'"
                         ng-model="company"
                         ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                     <option value=""></option>
               </select>
   
           </div>
           
           <div>
               Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
           </div>                    
           <div>
               <div id ="addr_yangu"> <b>Security </b></div>
               <select name ="security" ng-model="security"   class='mytextEditor'>
                   <option value ="Equity"> Equity </option>
               </select>
           </div>
           <div>
               <div id ="addr_yangu"> <b>Quantity </b></div>
               
               <input type="number" min="0" ng-model="quantity" name ="quantity" class='mytextEditor'/>
           </div>
   
   
           <div style ="{{tinashe_my_style}}" >
               <div id ="addr_yangu"> <b>Select broker {{my_broker_name.Code}}</b><br>
                   <i  ng-if="my_broker_name" >*Minimum BUY Order value  ZWL{{my_broker_name.threshold}} </i></div>
               <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
           </div>
                              
           <div>
               <div id ="addr_yangue"> <b>Time in force </b></div>
               <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>
                   <option value="Day Order (DO)">Day Order (DO)</option>
                   <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                   <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                   <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
               </select>                        
           </div>                       
           <div style = "{{my_style_now}}" >
               <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />
   
           </div>
           <div>
               <div id ="addr_yangu"> <b>Price </b></div>
               <input type="number"   min="0" ng-model="price" name ="price" class='mytextEditor'/>
           </div>


           <div>
               Gross Total : {{ (price * quantity ) | currency:"ZWL" : 2 }}<br> 
               Charges : {{ ( ( price * quantity) * 0.01693 ) | currency:"ZWL":2}}   <br />
               Net Total : {{ ( price * quantity * 1.01693)  | currency:"ZWL":2 }}   <br />
           </div>
           <input type="hidden" ng-model="order_type" name ="order_type" value = "BUY" />
       </div>
       <div class="ngdialog-buttons mt">
           <button type="button" ng-click="doOrder('BUY')" ng-model="isDisabled_buy" ng-disabled="isDisabled_buy" class="ngdialog-button ngdialog-button-primary" >
               <span ng-show="searchButtonText_buy == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
               {{ searchButtonText_buy }}
           </button>
       </div>
   
       <pre  style="display:none;">Order Details={{list}}</pre>
   <form>
   
   
</script>

   <!-- Sell Orders -->
   <script type="text/ng-template" id="placeOrderDiagSELL">
      <form ng-controller="OrderCtrl">
          <div class="ngdialog-message">
              <h2 style="border-bottom: 1px red solid;">PLACE SELL ORDER</h2>
              <div>
                  <div id ="addr_yangu"><b> Select Exchange</b> </div>
      
                  FINSEC <input type="radio" ng-model="xchange" name="xchange" value ="FINSEC" checked="true" ng-change="checkStuff(xchange)">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ZSE <input type="radio" ng-model="xchange" name="xchange" value="ZSE" ng-change="checkStuff(xchange)">
                  
              </div>
      
              <div>
                  <div id ="addr_yangu"> <b>Select Company</b>  </div>
      
                  <select  class='mytextEditor' ng-change="updatePrice()" name ="company"  chosen
                            data-placeholder-text-single="'Select Company'"
                            no-results-text="'Could not find Company'"
                            ng-model="company"
                            ng-options="x.WebCompanyValue as x.WebCompanyName for x in macompanies_listing">
                        <option value=""></option>
                    </select>
      
             
      
              </div>
              <div>
                  Current Price of {{company.split(',')[0]}} : {{company.split(',')[1]}}
              </div>
              <div>
                  <div id ="addr_yangu"> <b>Security</b> </div>
                  <select name ="security" ng-model="security"   class='mytextEditor'>
                      <option value ="Equity"> Equity </option>
                  </select>
              </div>
              <div>
                  <div id ="addr_yangu">  <b>Quantity  </b> </div>
                  
                  <input type="number" min="0"  ng-model="quantity" name ="quantity" class='mytextEditor'/>
              </div>
      
              <div style ="{{tinashe_my_style}}" >
                  <div id ="addr_yangu"> <b> Select broker {{my_broker_name.Code}} </b> <br>
                      <i  ng-if="my_broker_name" >*Minimum SELL Order value  ZWL{{my_broker_name.threshold}} </i> </div>
                  <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokerz"></select>
              </div>
      
              <div style="display: none;" >
                  <div id ="addr_yanguse"> Order Type</div>
                  <select name ="marko"  ng-model="marko"   class='mytextEditor'>
                      <option value="M">Market Order</option>
                      <option value="L">Limit Order</option>
                      <option value="S">Stop Order</option>
                      <option value="SL">Stop Limit Order</option>
                      <option value="HO">Hidden Order</option>
                  </select>                        
              </div>                      
              <div style="display: none;">
                  <div id ="addr_yangsue"> Order Qualifier </div>
                  <select name ="oq"  ng-model="oq"   class='mytextEditor'>
                      <option value="FOK">Feel or Kill</option>
                      <option value="MF">Market Feel</option>
                  </select>                        
              </div>                      
             
              <div>
                  <div id ="addr_yangue">  <b>Time in force  </b></div>
                  <select name ="tif"  ng-model="tif"  ng-change="updateTIF()"  class='mytextEditor'>                      
                      <option value="Day Order (DO)">Day Order (DO)</option>
                      <option value="Good Till Cancelled (GTC)">Good Till Cancelled (GTC)</option>                            
                      <option value="Immediate/Cancel Order (IOC)">Immediate/Cancel Order (IOC)</option>
                      <option value="Good Till Day (GTD)">Good Till Day (GTD)</option>
                  </select>                        
              </div>                       
              <div style = "{{my_style_now}}" >
                  <div id ="addr_yangu"> Date  : {{dategtd  | date : 'dd/MM/yyyy'}}</div>
                   <input type="date"  ng-model="dategtd" min-date="today_" name ="dategtd" class='mytextEditor'  /><br />
      
              </div>
      
              <div>
                  <div id ="addr_yangu">  <b>Price  </b></div>
                  <input  type="number"  min="0" ng-model="price" name ="price" class='mytextEditor'/>
              </div>

              
              <div>
                  Gross Total : {{ (price * quantity) | currency:"ZWL":2 }}<br>
                  Charges : {{ ( ( price * quantity) * 0.02443 ) | currency:"ZWL":2 }}<br>
                  Net Total : {{ ( price * quantity * 0.97557)  | currency:"ZWL":2 }}
              </div>                    
              <input type="hidden" ng-model="order_type" name ="order_type" value = "SELL"/>
              
             
      
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="doOrder('SELL')"  ng-model="isDisabled_sell"   ng-disabled="isDisabled_sell" class="ngdialog-button ngdialog-button-primary" >
                  <span ng-show="searchButtonText_sell == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                  {{ searchButtonText_sell }}
              </button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <form>
      
      
   </script>   
   <script type="text/ng-template" id="placeOrderDiagDeposit">
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Deposit funds</h2>
              <div>
                  <div id ="addr_yangu"> Select method of payment  </div>
                  <select name ="pay_methd" ng-model="pay_methd"   ng-change="updatePayments()" class='mytextEditor'>
                      <option value ="paynow"> Paynow (Visa, Zimswitch, Ecocash, Telecash)</option>
                      <option value ="Ecocash"> Ecocash* </option>
                      <option value ="Telecash"> Telecash* </option>
                  </select>
              </div>
              <div style = "{{my_style_phone}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} Phone Number :  +263-</div>
                   <input type="number"  ng-model="phone_numbr" name ="phone_numbr" class='mytextEditor'  /><br />
      
              </div>
              <div style = "{{my_style_phone_otp}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} OTP :</div>
                   <input type="number"  ng-model="phone_numbr_otp" name ="phone_numbr_otp" class='mytextEditor'  /><br />
      
              </div>                    
              <div>
                  <div id ="addr_yangu"> Amount <br> <i>*Minimum amount must be ZWL10</i> </div>
                      <input type="number"  min="10" ng-model="pay_ammt" name ="pay_ammt" class='mytextEditor'/>
              </div>
              
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="depositMoney()"  class="ngdialog-button ngdialog-button-primary" >Make Deposit ► </button>
          </div>
      
          <pre  style="display:none;">Deposit Details={{list}}</pre>
      <form>
      
      
   </script>


   <script type="text/ng-template" id="placeOrderDiagChangeBroker" >
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Change broker</h2>
              <div>
                  <div id ="addr_yangu"> Select broker </div>
                  
                  <select class='mytextEditor' ng-model="my_broker_name"   ng-options="x.Name for x in brokercz"></select>
      
              </div>
      
          </div>
          <div class="ngdialog-buttons mt" >
              <button type="button" ng-click="changeBroker()"  class="ngdialog-button ngdialog-button-primary" >Change Broker ► </button>
          </div>
      
          <pre  style="display:none;">Deposit Details={{list}}</pre>
      <form>
      
   </script>

   <script type="text/ng-template" id="orderView">
      <div  style ="width: 100%;">
          <div class="ngdialog-message">
              <h2>Order Details</h2>
              <div>
                  <table class="table table-bordered ">
                      <tbody>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">counter</td>
                           <td style="text-align:left;">{{ngDialogData.fullname}} {{ngDialogData.counter}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">order type</td>
                           <td style="text-align:left;">{{ngDialogData.type}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">volume</td>
                           <td style="text-align:left;">{{ngDialogData.volume}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Current price</td>
                           <td style="text-align:left;">{{ngDialogData.price | currency:"ZWL":2 }} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Posted date</td>
                           <td style="text-align:left;">{{ngDialogData.date}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Order status</td>
                           <td style="text-align:left;">{{ngDialogData.status}}  </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Description</td>
                           <td style="text-align:left;">{{ngDialogData.desc}} </td>
                        </tr>
                        <tr><td style="text-align:center;text-transform: uppercase;" colspan="2">{{ngDialogData.fullname}} on the market </td></tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">best bid price</td>
                           <td style="text-align:left;">{{ngDialogData.bidprice}} </td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">bid volume</td>
                           <td style="text-align:left;">{{ngDialogData.bidvolume}} </td>
                        </tr>                        
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">ask volume</td>
                           <td style="text-align:left;">{{ngDialogData.askvolume}}</td>
                        </tr>
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">Best ask price</td>
                           <td style="text-align:left;">{{ngDialogData.askprice}}  </td>
                        </tr>                        
                        <tr>
                           <td style="text-align:left;text-transform: uppercase;">current price</td>
                           <td style="text-align:left;">{{ngDialogData.current_price}} </td>
                        </tr>

                      </tbody>
      
                  </table>

              </div>
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-controller="OrderCtrl" ng-click="cancelOrder(ngDialogData.id, ngDialogData.type)" class="ngdialog-button ngdialog-button-primary" >Cancel Order</button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <div>
   </script>  

<script type="text/ng-template" id="InvestDialog">
            <form ng-submit="doInvest()" ng-controller="unitslideCtrl">

			 
                <div class="ngdialog-message">
				     <div id ="addr_yangu">   	 
					 <p><span id="icompany" name="icompany" style="font-weight:bold;"  ng-bind="icompany"></span></p>
				  
				  <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active/Passive</span></p>
				  </td>
				  
				  </tr>
				  </table>
				    
            Select Fund 
								 	 <br />
                   				 	
	     <select  class='mytextEditor' ng-change="updatePrice()" name ="biproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Securities'"
                         ng-model="biproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>	
<table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>			   
					
           
			   
					 <p>Current Price:<span id="icurrentprice" name="icurrentprice"  ng-bind="icurrentprice" /></p>
					 <textarea rows="4" style="visibility:hidden"  cols="60" readonly>
Description
</textarea>
<br />
			  Please Select Trade Type 
								 	 
                   				 	
	 <input type="text" ng-model="tradetype" name ="tradetype"   ng-init="tradetype='INVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
								 	 <br />
                 <div id ="addr_yangu">Please enter units<br>
                        <input type="number" min="0" ng-change="myConsA()" ng-model="amount" name ="amount" class='mytextEditor'/>
                  
                    </div>
										 
             <p><span style="font_weight:bold" id="icurrentmessage" name="icurrentmessage"  ng-bind="icurrentmessage" /></p>
			 <p><span style="color:red" id="icurrentmessageerror" name="icurrentmessageerror"  ng-bind="icurrentmessageerror" /></p>
					
                <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:none;"  class="ngdialog-button ngdialog-button-primary" >
                            SUBMIT          
                    </button>
                    <button ng-click="closeThisDialog(0)" style="color:red;background:none;"  class="ngdialog-button ngdialog-button-primary" >
                         CANCEL            
                    </button>
                   
                </div>
		</div>
                <span id="icompanyunit" name="icompanyunit" style="visibility:hidden"  ng-bind="icompanyunit" />
              <span id="icompanyunit2" name="icompanyunit2" style="visibility:hidden"  ng-bind="icompanyunit2" />
              	
					 <p><span id="icurrentshares" style="visibility:hidden" name="icurrentshares"  ng-bind="icurrentshares" /></p>
           
            <form>
        </script>        
		  <script type="text/ng-template" id="DisInvestDialog">
            <form ng-submit="doDisInvest()" ng-controller="unitslideCtrl">
   
             <div class="ngdialog-message">
				     <div id ="addr_yangu"> 
					 <p><span id="dicompany" name="dicompany" style="font-weight:bold;"  ng-bind="dicompany"></span></p>
				  <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Management Strategy</span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Active/Passive</span></p>
				  </td>
				  
				  </tr>
				  </table>
 Select Fund
								 	 <br />
                   				 	
	     <select  class='mytextEditor' ng-change="updatePrice()" name ="siproduct"  chosen
                         data-placeholder-text-single="'Select Fund'"
                         no-results-text="'Could not find Commodities'"
                         ng-model="siproduct"
                         ng-options="x.fnam as x.fnam for x in productlisting ">
                     <option value=""></option>
               </select>						 
				 
				 <table>
				  <tr>
				  <td style="width:200px">
				  <p><span style="font_weight:bold">Fund Tenure : 6 Months </span></p>
				  </td>
				  
				  <td>
				   <p><span style="font_weight:bold">Maturity Date : 06 June 2019</span></p>
				  </td>
				  
				  </tr>
				  </table>	
				  
					 <p>Current Price :<span id="dicurrentprice" name="dicurrentprice"  ng-bind="dicurrentprice" /></p>
					 <textarea rows="4" style="visibility:hidden"  cols="60" readonly>
Description
</textarea>
<br />
			  Please Select Trade Type  
					 <br />
					 	
	 <input type="text" ng-model="ditradetype" name ="ditradetype"   ng-init="ditradetype='DISINVEST'" class='mytextEditor' readonly></input>
                  
                   </div>
			<br />
                 <div id ="addr_yangu">Please enter amount<br>
                        <input type="number" min="0" ng-change="myConsB()" ng-model="diamount" name ="diamount" class='mytextEditor'/>
                  
                    </div> 
                         <p><span  style="font_weight:bold" id="dicurrentmessage" name="dicurrentmessage"  ng-bind="dicurrentmessage" /></p>
					<p><span style="color:red" id="dicurrentmessageerror" name="dicurrentmessageerror"  ng-bind="dicurrentmessageerror" /></p>
				  <div  class="ngdialog-buttons mt"> 
				<button type="submit" style="color:red;background:none;"  class="ngdialog-button ngdialog-button-primary" >
                            SUBMIT          
                    </button>
                    <button ng-click="closeThisDialog(0)" style="color:red;background:none;"  class="ngdialog-button ngdialog-button-primary" >
                         CANCEL            
                    </button>
                   
                </div>
				
		</div>
                 <span id="dicompanyunit" name="dicompanyunit" style="visibility:hidden"  ng-bind="dicompanyunit" />
             <span id="dicompanyunit2" name="dicompanyunit2" style="visibility:hidden"  ng-bind="dicompanyunit2" />
             	
					 <p><span style="visibility:hidden" id="dicurrentshares" name="dicurrentshares"  ng-bind="dicurrentshares" /></p>
            
                
            <form>
        </script>        
        
   <script type="text/ng-template" id="performanceReport">
      <div  style ="width: 82%;">
          <div class="ngdialog-message">
              <h2>Perfomance Report</h2>
              <div class="table-responsive">
                  <table class="table table-bordered ">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Security</th>
                              <th>Last Activity date</th>
                              <th>No. Shares</th>
                              <th>Current price per share</th>
                              <th>Current portfoil value</th>
                              <th>Previous price per share</th>
                              <th>Previous portfolio value</th>
                              <th>Net Movement (Day) </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="my_port in my_portfolio" >
                              <td>1</td>
                              <td>{{my_port.counter}}</td>
                              <td>{{my_port.numbershares}}</td>
                              <td>{{my_port.lastactivitydate}}</td>
                              <td>{{my_port.currentprice}}</td>
                              <td>{{my_port.totalportvalue}}</td>
                              <td>{{my_port.currentprice}}</td>
                              <td>{{my_port.totalportvalue}}</td>                                                        
                              <td>{{my_port.totalportvalue - my_port.totalportvalue}} <span class ="green_arrow"></span></td>
                      </tbody>
      
                  </table>
              </div>
      
      
      
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="doOrder('BUY')"  class="ngdialog-button ngdialog-button-primary" >Download</button>
          </div>
      
          <pre  style="display:none;">Order Details={{list}}</pre>
      <div>
   </script>  

   <script type="text/ng-template" id="warning-dialog.html">
      <div class="ngdialog-header">
       <h3>You're Idle. Do Something!</h3>
      </div>
      <div idle-countdown="countdown" ng-init="countdown=5" class="ngdialog-message">
       <uib-progressbar max="60" value="60" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
      </div>
      
   </script>

   <script type="text/ng-template" id="placeOrderDiagDeposit">
      <form ng-controller="DepositCtrl">
          <div class="ngdialog-message">
              <h2>Deposit funds</h2>
			  Select Currency
								 	 <br />
                   				 	
	  
			   	 	     <select style="width:430px" class="mytextEditor" ng-change="updateCurrency()" name ="dicurrency" ng-model="dicurrency">
<option  Text="Select Currency"  value="Select Currency">Select Currency</option>

						 <option ng-repeat="option in currencylisting" value="{{option.Code}}">{{option.Name}}</option>
</select>	
              <div>
                  <div id ="addr_yangu"> Select method of payment  </div>
                  <select name ="pay_methd" ng-model="pay_methd"   ng-change="updatePayments()" class='mytextEditor'>
				  <option value ="" ng-show="IsVisiblePay"></option>
                      <option value ="paynow" ng-show="IsVisiblePayNow"> Paynow (Visa, Zimswitch, Ecocash, Telecash)</option>
                      <option value ="Ecocash" ng-show="IsVisiblePay"> Ecocash* </option>
                      <option value ="Telecash" ng-show="IsVisiblePay"> Telecash* </option>
                  </select>
              </div>
              <div style = "{{my_style_phone}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} Phone Number :  +263-</div>
                   <input type="number"  ng-model="phone_numbr" name ="phone_numbr" class='mytextEditor'  /><br />
      
              </div>
              <div style = "{{my_style_phone_otp}}" >
                  <div id ="addr_yangu"> Enter {{pay_methd}} OTP :</div>
                   <input type="number"  ng-model="phone_numbr_otp" name ="phone_numbr_otp" class='mytextEditor'  /><br />
      
              </div>                    
              <div>
                  <div id ="addr_yangu"> Amount <br> <i>*Minimum amount must be $10</i> </div>
                      <input type="number"  min="10" ng-model="pay_ammt" name ="pay_ammt" class='mytextEditor'/>
              </div>
              
          </div>
          <div class="ngdialog-buttons mt">
              <button type="button" ng-click="depositMoney()"  class="ngdialog-button ngdialog-button-primary" >Make Deposit ► </button>
          </div>
      
          <pre  style="display:none;">Deposit Details={{list}}</pre>
      <form>
      
      
   </script>
		 <script type="text/ng-template" id="placeOrderDiagWidthdraw">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Withdraw funds</h2>
                    <div>
                        <div id ="addr_yangu" ng-controller="mybalanceViewCtrl" > Actual Cash: {{cash_balance  | currency:"ZWL":2}}  </div>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Amount *Minimum amount must be $10</div>
                            <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="widthdrawMoney()"  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_dep }}
                    </button>
                </div>
                <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
            <form>

        </script>
		 <script type="text/ng-template" id="placeOrderDiagConvert">
            <form ng-controller="DepositCtrl">
                <div class="ngdialog-message">
                    <h2>Convert funds</h2>
                    <div>
                        <div id ="addr_yangu" ng-controller="mybalanceViewCtrl" > Actual Cash: {{actualcash_balance_forex  | currency:"USD":2}}  </div>
                    </div>
                    <div>
                        <div id ="addr_yangu"> Amount *Minimum amount must be $10</div>
                            <input type="number" min="10" ng-model="pay_ammt_with" name ="pay_ammt_with" class='mytextEditor'/>
                    </div>
                    
                </div>
                <div class="ngdialog-buttons mt">
                    <button type="button" ng-click="convertMoney()"  class="ngdialog-button ngdialog-button-primary" >
                        <span ng-show="searchButtonText_dep == 'Please Wait'"><i class="zmdi zmdi-hc-fw"></i></span>
                        {{ searchButtonText_dep_forex }}
                    </button>
                </div>
                <pre  style="display:none;">Widthdrawal Details={{list}}</pre>
            <form>

        </script>
   <script type="text/ng-template" id="timedout-dialog.html">
      <div class="ngdialog-header">
       <h3>You have been Timed Out!</h3>
      </div>
      <div class="ngdialog-message">
       <p>
          You were idle too long. Normally youd be logged out, but in this demo just do anything and youll be reset.
       </p>
      </div>
   </script>

</div>